Source: lcs-clientftp
Section: misc
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: lcs-clientftp
Architecture: all
Depends: libapache2-mod-php5 | libapache-mod-php5 | php5 | libapache2-mod-php4 | libapache-mod-php4 | php4, php5-gd | php4-gd, smarty, unzip, lcs-web
Description: Install Web filebrowser on LCS server 
 Install filebrowser 0.1.7.2. for web acces to spaces users on LCS server.
