Source: lcs-squirrelmail
Section: web
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.6.2

Package: lcs-squirrelmail
Architecture: all
Depends: slis-common, lcs-smtp, lcs-imap, squirrelmail (>= 2:1.4.9a-2), squirrelmail-locales
Description: Setup webmail service on LCS server
 This package will configure the squirrelmail webmail for use within
 the LCS server project.
