.short_select {
	width: 100px;
	color: #1b2c68;
	background-color: #d4d4d4;
	text-decoration: none;
	font-size: 0.7em;

}

.long {
	width: 200px;
	color: #1b2c68;
	background-color: #d4d4d4;
	text-decoration: none;
	font-size: 0.7em;

}


#publication_acad{
	position: absolute;
	left: 0px;
	top: 165px;
	text-align: left;
	width: 100%;
	
}

span.gest_tab {
	color: red;	
	margin-left: 1px;
	text-decoration: bold;	
	background-image: url(../images/arrow_down.gif);
	width: 30px;
	z-index: 200000;
}

#addOnglet {
	z-index: 30000;
	display: none;
	position: absolute;
	background-image: url(../images/plus.gif);
	background-repeat: no-repeat;
	width: 15px;
	height: 20px;
	left: -1px;
	top: 15px;
}

div#bloc,div#divR,div#divN,div#img,div#ress {
	float: left;
	color: #1b2c68;
}

div#img {padding: 1px}

div#bcg {
	position: absolute;
	left: 0px;
	top: 0px;
}

.div1 {
	text-align: left;
	color: #1b2c68;
	margin-top: 8px;
}

.div2 {
	text-align: left;
	color: #1b2c68;
}

.ldapBOX {
	color: #1b2c68;
	text-align:center;
	position: absolute;
	left: 220px;
	top:0px;
}

table#cmd {
	border-style:solid; 
	border-width:1px; 
	border-color:#1b2c68;
	border-collapse:collapse;
	width: 100%;
}

.grise {
	border-style:solid; 
	border-width:1px; 
	border-color:#1b2c68; 
	background-color:#d4d4d4;
	font-size: 1em;
	font-weight:bold;
	padding:10px; 
}

table#cmd td  { 
	border-style:solid; 
	border-width:1px; 
	border-color:#1b2c68;
	color: black;
	/*width: 75px;*/
	text-align:center;
	font-size: 1em;	
}

body{	/* Styling the body element */	
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	margin:0px;
	padding:0px;
	height:100%;
	font-size:0.9em;
	line-height:130%;
	background-color:#E2EBED;
}	

a{
	color:#D60808;
	text-decoration:none;
}

a:hover{
	text-decoration:none;
}
	
#dhtmlgoodies_leftPanel ul{
	padding-left:20px;
	margin-left:0px;
}

#dhtmlgoodies_leftPanel div{
	padding:3px;
}

#mainContent{
	width:660px;
	margin-left:150px;
	background-color:#FFF;
	padding-right:5px;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}

	/* END CSS ONLY NEEDED FOR THIS DEMO PAGE */
	
#dhtmlgoodies_leftPanel{	/* Styling the help panel */
	background-color:#3c94c8;	/* Blue background color */
	color:#FFF;	/* White text color */
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;	/* Which font to use */
	/* You shouldn't change these 5 options unless you need to */		
	height:100%;		
	left:0px;
	z-index:10;
	position:absolute;
	display:none;
}
	
#dhtmlgoodies_leftPanel #leftPanelContent{
	padding:0px;
}

#dhtmlgoodies_leftPanel .closeLink{ /* Layout of close link */
	padding-left:2px;
	padding-right:2px;
	background-color:#FFF;
	position:absolute;
	top:2px;
	right:2px;
	border:1px solid #000;
	color:#000;
	font-size:0.8em;				
}

#dhtmlgoodies_leftPanel .closeLink:hover{	/* Close link text  - mouseover effect*/
	color:#FFF;
	background-color:#000;
}	

#rights {
	position: absolute;
	left: 50px;
	top: 50px;
}

#SH_frame {
	position: absolute;
	background-image: url(../images/up.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 20px;
	right: 8px;
	top: 8px;
}

#cDv {
	position: absolute;
	background-image: url(../images/clicDvirtual.gif);
	background-repeat: no-repeat;
	width: 25px;
	height: 20px;
	right: 36px;
	top: 8px;
}

#RL_frame {
	position: absolute;
	background-image: url(../images/right.png);
	background-repeat: no-repeat;
	width: 13px;
	height: 18px;
	top: 13px;
}

#spinner {
	position: absolute;
	background-image: url(../images/spinner.gif);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	right: 10px;
	z-index: 20000;
	top: 55px;
}


#img_user {
        position: absolute;
        background-image: url(../images/user.gif);
        background-repeat: no-repeat;
        width: 12px;
        height: 20px;
        right: -92px;
        top: 0px;
}

#view_others {
	position: absolute;
	width: 25px;
	height: 20px;
	right: 155px;
	top: 8px;
}

#warning_other {
	position: absolute;
	width: 250px;
	height: 20px;
	right: 6px;
	top: 8px;
}

#divLCS {
	position: relative;
}

/*center{float:left;width:200px;}*/

#bouton-sauve{
	position: absolute;
	left: 0px;
	top: 260px;
	text-align: center;
	width: 100%;
}

#bouton-sauve2{
	position: absolute;
	left: 0px;
	bottom: 20px;
	text-align: center;
	width: 100%;
}


.go{
	color: #1b2c68;
	background-color: #d4d4d4;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	width: 140px;
	text-align: center;
	padding: 5px 20px;
	border: 2px outset #FFFFFF;
	cursor:pointer;
}

.nom {
	width: 10%;
}

select {
	width: 150px;
}

#virtualMenu {
	position: absolute;
	right: 5px;
	z-index:100000;
	width:150px;
	padding:5px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:16px;
	background-color: #d4d4d4;
	border:1px solid #333333;
}

#scen-container {
	position: relative;
	margin: 0px;
}

#scen-contenu {
	float: left;
	width: 100%;
	margin:0 0 3px 0;
}

#scen-titre {
	float: left;
	margin:0 0 5px 0;
	color: #1b2c68;
	font-weight: bold;
}

.scen-nom, .scen-mat {
	clear: both;
	margin: 3px 0px;
	text-align: left;
	color: #1b2c68;
	font-weight: bold;
}

.scen-ldapBOX {
	float: left;
	margin: 5px 0;
	width:100%;
	text-align: center;
	color: #1b2c68;
}

#bouton-sauve-scen{
	float: left;
	text-align: center;
	width: 100%;
}