body {
background-image: url(../images/espperso.jpg);
}

.drag-contentarea iframe{
background-color: transparent;
border: 0px;
display: block;
padding: 0px;
margin: 0px;
}

.dhtmlwindow{
position: absolute;
visibility: hidden;
background-color: ghostwhite;
border-right: 2px solid #4d4d4d;
border-bottom: 2px solid #4d4d4d;
border-top:1px solid #d4d4d4;
border-left:1px solid #d4d4d4;
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-moz-border-radius-topleft:8px;
-moz-border-radius-topright:8px;
/*
filter:alpha(opacity=96);
-moz-opacity:0.96;
opacity: 0.96;
*/
}

.drag-handle{ 
/*CSS for Drag Handle*/
background: #fdb218;
-moz-border-radius-topleft:8px;
-moz-border-radius-topright:8px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
padding: 1px;
padding-left: 5px;
padding-top: 3px;
text-indent: 3px;
font: bold 12px Arial;
color: #1b268f;
cursor: move;
overflow: hidden;
width: auto;
height: 16px;
}


.drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
position: absolute;
right: 8px;
top: 3px;
cursor: hand;
cursor: pointer;
}

.drag-handle .div-crayon {
position: absolute;
left: 1px;
top: 1px;
cursor: hand;
cursor: pointer;
background-color: #CCCCFF;
}

.drag-contentarea{ /*CSS for Content Display Area div*/
border-top: 2px solid white;
background-color: transparent;
color: black;
height: 150px;
padding: 2px;
overflow: auto;
}

.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/
border-top: 2px solid #ffffff;
/*background-color: #F8F8F8;*/
height: 3px; /*height of resize image*/
}


.drag-resizearea{ /*CSS for Resize Area itself*/
float: right;
width: 13px; /*width of resize image*/
height: 13px; /*height of resize image*/
cursor: nw-resize;
font-size: 0;
}
