#divNewsHolder{
	width: 600px;
	border: 2px solid black;
	padding: 0px;
}

#divNewsTitle{
	font-size: 20px;
	height: 26px;
	background-color: #BACCD9;
	line-height: 26px;
}

#spanCount{
	float: right;
	font-size: 15px;
	padding-right: 10px;
}
#divAd{
	width: 100%;
	height: 400px;
	overflow: hidden;
	border-top: 2px solid back;
	border-bottom: 2px solid black;
}
#divNews1, #divNews2{
	width: 100%;
	height: 400px;
	background: #D9CCBA;
	position: relative;
	overflow: auto;
	left: 0px;
}
#divNews1{top: 0px;}
#divNews2{top: -400px;}
#divControls{
	background-color: #BACCD9;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}
#divControls input{
	width: 100px;
	background-color: #8C8C8C;
	color: #000000;
	font-size: 10px;
}
