body{
		
		background-repeat:no-repeat;
		padding-top:85px;	
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
		font-size:0.9em;
		line-height:130%;

	}
	#ajaxMessage{
		margin-top:10px;
		font-size:0.9em;
		color:red;
	
	}
	#expandCollapse{
		font-size:0.9em;
	}
	a{
		color:#000;
		font-family:arial;
	}
	
	#dhtmlgoodies_tree{
		margin:0px;
		padding:0px;
		margin-left:10px;
	}
	#dhtmlgoodies_tree ul{	/* Sub menu groups */
		margin-left:20px;	/* Left spacing */
		padding-left:0px;
		display:none;	/* Initially hide sub nodes */
	}
	#dhtmlgoodies_tree li{	/* Nodes */
		list-style-type:none;
		vertical-align:middle;
		
	}
	#dhtmlgoodies_tree li a{	/* Node links */
		color:#000;
		text-decoration:none;
		font-family:arial;
		font-size:0.8em;
		padding-left:2px;
	}
	#dhtmlgoodies_tree input{
		width:200px;
		font-size:0.7em;
		margin-left:2px;
		font-family:arial;
	}