Source: lcs-sarg
Build-Depends: debhelper (>> 3.0.0), autotools-dev, libgd2-noxpm-dev
Section: web
Priority: optional
Maintainer: Jean Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Standards-Version: 3.7.2

Package: lcs-sarg
Architecture: any
Replaces: sqmgrlog
Depends: ${shlibs:Depends}
Suggests: squid, httpd | apache, squidguard, libapache-mod-php4
Conflicts: sqmgrlog, sarg
Description: squid analysis report generator
 Sarg is a Squid Analysis Report Generator that allow you to view "where" 
 your users are going to on the Internet. Sarg generate reports in html, 
 with many fields, like: users, IP Addresses, bytes, sites and times.
