body	{
	background: url(/lcs/fdecran/annuaire.jpg) #f8f8ff no-repeat center 50px;
	color: #404044;
	margin: 2%;
	margin-left: 8%;
	margin-right: 6%;
	font-family: arial, helvetica,sans-serif;
	text-align: justify
}

body.auth	{
	background: url(/lcs/fdecran/connexion.png)  #f8f8ff no-repeat center 50px
}

body.accueil	{
	background: url(/lcs/fdecran/index.png)  #f8f8ff no-repeat center 100px
}

a:link, a:visited {color: #0080ff}
/* a:link, a:visited {color: #475486} */

a:hover	{
	color: #ff8f00;
	text-decoration: underline
}


td {
    font-family: arial, helvetica,sans-serif;
  }

address {
	text-align: right;
	font-size: small;
}

h1 {
	text-align: center;
	color: #486591;
}

h1.navigation {
	text-align: left;
	font-size: medium;
}

h1.title {
	margin-top: 1%;
	margin-bottom: 3%;
	text-align: center;
	font-size: x-large;
	color: #486591;
}

h1.section {
	font-size: large;
	text-align: left;
	color: #486591;
	background-color: LightSteelBlue;
}

h2 {
	color: #486591;
	font-size: large;
}

h2.subtitle {
	margin-top: -3%;
	margin-bottom: 3%;
	text-align: center;
	font-size: small;
	font-weight: normal;
	color: #486591;
}

h3 {
	font-size: large;
	font-weight: normal;
	color: #486591;
}

h3.author {
	text-align: right;
	font-size: medium;
	margin-left: -2%;
	color: #486591;
}

h4 {
	color: #486591;
	font-size: medium;
}

h5 {
	color: #486591;
	font-size: medium;
	font-weight: normal;
}

h6 {
	color: #486591;
	font-size: small;
}

p {
	text-indent: 1em;
}

div#container {
    height: 85%;
}

div.affiliation {
	text-align: right;
	font-size: x-small;
	}

div.address {
	font-style: oblique;
	}

div.error_msg {
      text-align: center;
      color: #ff8f00;
      font-size: medium;
      font-weight: normal;
      font-family: arial, helvetica,sans-serif;
      }

div.alert_msg {
      text-align: center;
      color: #ff8f00;
      font-size: normal;
      font-weight: normal;
      font-family: arial, helvetica,sans-serif;
      }

div.pdp {
      text-align:center;
      font-size: small;
      height:50px;
      padding-top: 5px;
      border-top: solid 2px #486591;
      }

div.abstract {
	margin-left: 2%;
	}


span.orgname {
	font-weight: bold;
	}

span.orgdiv {
	font-weight: bold;
	}

span.acronym {
	font-style: italic;
	font-weight: bold;
	}

span.abbrev {
	font-variant: small-caps;
	}

span.important {
      color: orange;
      font-size: medium;
      font-weight: bold;
}

i.emphasis {
	font-style: italic;
	background-color: #f0f0f0;
	}

tt.computeroutput {
	font-weight: bold;
	}

tt.filename {
	font-family: monospace;
	font-size: 120%;
	}

tt.shell {
	color: #ff8f00; 
	font-size: medium;
        }

p.copyright {
	text-align: right;
	font-size: x-small;
	}

dt {
	font-style : italic;
	font-weight: bold;
	}

pre.screen {
	font-family: courier, monospace;
	margin-right: 2em;
	margin-left: 2em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: lightgrey;
	font-weight: bold;
	color: black;
}

pre.programlisting {
	font-family: courier, monospace;
	border-style: ridge outset;
	border-color: navy;
	margin-right: 1em;
	margin-left: 2em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: lightgrey;
	color: black;
}


blockquote.note {
	color: gray;
	}

