/* 
    Document   : sequences
    Created on : 24 déc. 2010, 16:30:59
    Author     : misterphi
    Description:
        Purpose of the stylesheet follows.
*/

	ul.seq  { list-style-type: none; margin-top:5px; padding: 2px;width: 50% ;float :left; }
	li.ui-state-default.sequ  {position: relative; margin-top: 1px; padding: 0.5em 0.4em .5em 1em; font-size: .8em; height: 16px;color:#1b2c68; }
	li.sequ span { position: absolute; margin-left: -1.3em; }
	li.sequ span.buttons {float: right; position: relative;font-size: .8em;}
	li.sequ span.handdle {position:absolute;margin-left: 250px;cursor: pointer; }
	li.sequ span.order {float: left; position: relative;margin-left:0px;margin-right:2px;font-size: 1em;}
	li.sequ.sel { border: solid 3px #d40000;color:#d40000;}
	li .item{cursor:pointer;}
        .showform {margin-right: 5px;}
	#dialog {text-align: left;}
        #aide {padding-left:10px;margin-left: 20px;vertical-align:bottom;background:url(../images/planifier-cdt-aide.png) no-repeat;}
        #showr.v_no, #record.v_no, #update.v_no, button.showform.v_no,#sortable li.v_no, #aide.v_no { display:none; }
        #showr, .buttons {font-size:0.8em;}
        #masquable { position: relative;display:none; float: left;text-align: left;font-family: Arial, Helvetica, sans-serif, verdana;color:#1b2c68;padding:2px;font-size: .8em;}