/******************************************** Exception Internet Explorer ***************************************************/

body {margin: 0;padding: 0;overflow: auto;text-align:left;background: #f8f8ff;font-size:1em;color: #000000;font-family: Arial Helvetica sans-serif verdana;width:100%}

#field7, #fields8, #field9 {text-align:center;margin:10px;padding:20px;background: #f8f8ff;}
#switch-barreLcs{position:absolute;top:10px;right:50px;width:24px;height:20px;padding:0;cursor:pointer;}

#container {;margin: 10px 0 0 1%;}

#navlist li{width: 7.8em; height:3.2em;margin:0;padding:0;}
#navlist a {width: 8.4em;height:3.2em;padding:0.6em;font-size:0.9em;}
#navlist li#select{width: 12.5em;height:3.2em;padding:0;margin:0;}
#navlist a#courant {width:14em;padding:0.6em 0;margin:0;height:3.2em;}
#navlist a#courant:hover{width: 14em;padding:0.6em;margin:0}
#navlist a:hover{width: 8.4em;height:3.2em;padding:0.6em;}

#cfg-navlist-elv{margin:5px 0;}
#cfg-navlist-elv li{width:190px;}
#cfg-btn{margin:10px 5px;}

#visa-cdt {position:absolute; width:80px;height:70px;top:150px; right:20px;color:red;text-align:center;padding:4.8em 0.8em 0;border:2px outset #1b2c68;background:#fff url('../images/tampon.png') no-repeat center 5px;}

#bt-fixe {position:absolute; width:150px;height:70px;top:160px; right:35px;padding:0.6em;background:#eee;border:2px outset #1b2c68;}

#form-ajt-dev {color:#1b2c68;margin:0 40px;border:solid 2px #0d6a1e;padding:15px; width:810px;}