a:link { color: #000000; font-family:   arial, verdana ; font-size : 12px}
a:visited { color: #cc0000; font-family: arial, verdana ; font-size: 12px}
a:active { color: #000099; font-family: arial, verdana ; font-size: 12px}
a:hover { color: #990000; font-family: arial, verdana ; font-size: 12px}

body {margin: 0 auto;padding: 0;overflow: auto;text-align:center;background: #f8f8ff;font-size:14px;color: #000000;font-family: arial ,Helvetica, sans-serif, verdana;width:100%}
body.imprim {color: #000000;font-size: 12pt;font-weight: bold;}

/*********************************************** Coloration synthaxique des titres **************************************************/

#crsdu{font-family: Arial, Helvetica, sans-serif, verdana;font-size:12px;color:#1b2c68;padding:2px;text-align:left;width:520px;background:#fff;border-top: solid 1px #d4d4d4;border-left: solid 1px #d4d4d4;border-right: solid 1px #4d4d4d;border-bottom: solid 1px #4d4d4d;}
#afRle{font-family: Arial, Helvetica, sans-serif, verdana;font-size:12px;color:#1b2c68;padding:2px;text-align:left;width:380px;background:#fff;border-top: solid 1px #d4d4d4;border-left: solid 1px #d4d4d4;border-right: solid 1px #4d4d4d;border-bottom: solid 1px #4d4d4d;}

/*********************************************** Blocs de la page **************************************************************/

#entete{-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#F8F8FF url(../images/fond-ong-prof-cdt.png) repeat-x scroll  bottom ;float:left;position:fixed;top:1px;width:100%;opacity:0.9}
#container {margin: 70px auto 0;padding: 0;width: 990px;background: #f8f8ff;text-align: left;font-size:14px;font-family: Arial ,Helvetica, sans-serif, verdana;}
#container2 {margin: 70px auto 0;padding: 0;width: 990px;background: #f8f8ff;text-align: left;font-size:14px;font-family: Arial ,Helvetica, sans-serif, verdana;}
#container-cdt-elv {float:left;margin: 10px 0 0 1%;padding: 0;width: 990px;background: #f8f8ff;text-align: left;font-size:14px;}
#secondaire {float:left;margin: 20px 0 0 0;padding: 0;width: 100%;text-align: left;}
#saisie {float: left;margin:0;padding:0;width:678px;background:url(../images/fond-cdt-gch.png) no-repeat;}
#first {margin:20px auto;padding:0;width:678px;height:380px;background:url(../images/fond-cdt-pers.png) no-repeat;}
.prg {-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;-moz-border-radius-bottomleft:12px;
-moz-border-radius-bottomright:12px;-moz-border-radius-topleft:12px;-moz-border-radius-topright:12px;background:#FFFFFF none repeat scroll 0 0;
float:left;height:200px;margin:60px;opacity:0.9;padding:10px;width:520px;}
#commande {float: left;width: 300px;margin: 5px;padding: 5px;}
#form-saisie {float:left;height:525px;margin:0;}
#boite1 {float:left;margin:20px 0 0 0;z-index:1;}
#boite2 {float: left;margin:0;z-index:1;}
#boite3 {float: left;margin: 30px 5px 0 15px;width:562px;z-index:1;}
#boite4 {float:left;width: 60px;margin: 25px 0px;}
#boite4 li {float:left;list-style: none;}
#boite1 input, #boite2 input {margin:0 3px}
#visa-cdt1 {position:fixed; top:70px; left:10px;width:70px;font-size:14px;color:red;text-align:center;padding:80px 15px 0;opacity:0.9;-moz-border-radius:0.5em;-webkit-border-radius: 0.5em;border:2px outset #1b2c68;background:#fff url('../images/tampon.png') no-repeat center;}
#visa-cdt2 {position:fixed; top:70px; left:10px;width:70px;font-size:14px;color:red;text-align:center;padding:80px 15px 0;opacity:0.9;-moz-border-radius:0.5em;-webkit-border-radius: 0.5em;border:2px outset #1b2c68;background:#fff url('../images/tampon_e.png') no-repeat center ;}
#visa-cdt1e {position:fixed; top:55px; left:29px;font-size:14px;color:red;text-align:center;padding:80px 15px 0;opacity:0.9;-moz-border-radius:0.5em;-webkit-border-radius: 0.5em;border:2px outset #1b2c68;background:#fff url('../images/tampon.png') no-repeat center ;}
#visa-cdt2e {position:fixed; top:55px; left:29px;font-size:14px;color:red;text-align:center;padding:80px 15px 0;opacity:0.9;-moz-border-radius:0.5em;-webkit-border-radius: 0.5em;border:2px outset #1b2c68;background:#fff url('../images/tampon_e.png') no-repeat center ;}

.bt-visa {background:url('../images/bt-cdt-visa.png') no-repeat;margin:0 10px 0 0;padding:0px;border:none;width:120px;height:20px;cursor:pointer;}

/************************************ Blocs pour les boutons du menu de saisie ******************************************************/

.submit-perso, .a-saveplus, .a-imprime, .submit-save, .submit-modif, .submit-seq, .submit-plan,.load-model,.save-model {float:left;border:none;color:#000000;width:56px;height:50px;margin-top: 3px;cursor: pointer;}
.submit-perso {background: transparent url('../images/perso-cdt2.png') no-repeat top left;}
.a-saveplus {background: transparent url('../images/sauve-plus-cdt2.png') no-repeat top left;}
.a-imprime {background: transparent url('../images/imprimer-cdt2.png') no-repeat top left;}
.submit-save {background: transparent url('../images/sauve-cdt2.png') no-repeat top left;}
.submit-modif {background: transparent url('../images/sauve-cdt2.png') no-repeat top left;}
.submit-del {background: transparent url('../images/annuler-cdt2.png') no-repeat top left;}
.submit-seq {background: transparent url('../images/btn-seq-cdt.png') no-repeat top left;}
.submit-plan {background: transparent url('../images/planifier-cdt2.png') no-repeat top left;}
.load-model {background: transparent url('../images/btn-cdt-charge-modele2.png') no-repeat top left;}
.save-model {background: transparent url('../images/btn-cdt-sauve-modele2.png') no-repeat top left;}

	
#bouton {margin: 0;width: 60px;}
#boutons ul {padding:0;margin: 0;width: 55px;}
#boutons a:link, #boutons a:hover {float:left;padding:0;margin:0;margin-top: 3px;}
.cdt-select, #deb-abs, #fin-abs {margin: 0 10px;}

h1.title {margin:5px 10px;text-align:left;font-family:arial;font-weight:bold;color:#0d6a1e;}
h2 {color: #486591;margin:5px;text-align: left;font-weight: normal;}
h3 {color: #1b2c68;text-align: center;font-weight: normal;font-size:14px;width:979px;}
h3.perso {text-align: left;}
h4 {float:left;color: #486591;margin:5px 25px;text-align: left;font-family: arial;font-weight: normal;}
h4.perso  {float:left;color: #1b2c68;margin:5px 25px;text-align: left;font-weight: normal;}
h5 {color: #1b2c68;font-weight: normal;text-align: center;}
h5.perso {color: #1b2c68;text-align: left;font-weight: normal;}
h6.perso {color: #1b2c68;margin-left: 3%;text-align: left;font-weight: normal;}

/*********************************************************** Calendrier ************************************************************/

#datepicker{font-size:0.96em;}
.ds_box {background-color: #FFF;border: 1px solid #000;z-index: 32767;}
.ds_tbl {background-color: #FFF;}
.ds_head {background-color: #000099;color: #FFF;font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;text-align:center;letter-spacing:2px;}
.ds_subhead {background-color: #CCC;color: #000;font-size: 12px;font-weight: bold;text-align: center;font-family: Arial, Helvetica, sans-serif;	width:32px;}
.ds_cell {background-color: #EEE;color: #000;font-size: 13px;text-align: center;font-family: Arial, Helvetica, sans-serif;padding: 5px;cursor: pointer;}
.ds_cell:hover, ds_cell:active {background-color: #FFFF00;} /* This hover code won't work for IE */

/************************************************ Affichage du contenu du cdt *******************************************************/

#boite5 {float: left;padding:10px;background:#f8f8ff;width:95%;margin-top:40px;}
#boite5elv {float: left;padding:10px;background:#f8f8ff;margin:5px;width:720px;}
table#tb-cdt {font-size:10px;color:#000000;width:100%;margin:10px;border:none;font-size: 14px;}
table#tb-cdt tbody {padding:5px;border: solid 1px red;text-align:left;color: #000000;width:98%;}
table#tb-cdt tbody hr{padding:0;color:#9207c2;background:#fff;}
table#tb-cdt td {padding:10px;border: none;text-align:left;}
table#tb-cdt td.seance {padding:10px;margin:10px;width:180px;font-weight: bold;background:url('../images/bdh-aff-cdt.png') repeat-y;	text-align:left;color:#3d3d3d;}
table#tb-cdt td.afaire {width:180px;font-weight: bold;background:url('../images/bdb-aff-cdt.png') repeat-y;text-align:left;color:#3d3d3d;}
table#tb-cdt td.contenu {border: solid 1px #fdb218;background:#fff;text-align:left;color:#000; font-family:Arial,Verdana,  Helvetica, sans-serif; font-size:14px;}
table#tb-cdt td.contenu2 {border: solid 1px #fdb218;background:url('../images/tampon2.png') no-repeat #fff;background-position:center right; text-align:left;color:#000; font-family:Arial,Verdana,  Helvetica, sans-serif; font-size:14px;}
table#tb-cdt td.contenu3 {border: solid 1px #fdb218;background:url('../images/tampon3.png') no-repeat #fff;background-position:center right; text-align:left;color:#000; font-family:Arial,Verdana,  Helvetica, sans-serif; font-size:14px;}
table#tb-cdt th {text-align: center;font-size: 14px;padding: 3px;color:#1b2c68;}
table#tb-cdt th.bas {text-align: center;font-size: 14px;padding: 3px;}
table#tb-cdt th input.bt-modifier {background:url('../images/bt-cdt-modifier.png') no-repeat;border:none;font-size:14px;height:20px;width:120px;cursor:pointer}
table#tb-cdt th input.bt-supprimer {background:url('../images/bt-cdt-supprimer.png') no-repeat;border:none;font-size:14px;height:20px;width:120px;cursor:pointer}
.btn{border: #000000 1px outset;text-align:center;padding: 3px 0;background:#1b2c68;color:#fff;width: 120px;}
.tb-cdt-date {text-align: left;font-size: 16px;padding: 3px;background-color: #d4d4d4;color:#1b2c68;}
#postit-eleve {position:fixed; top:40px; right:5px;font-size:14px;opacity:0.9;width: 201px;height:320px;background: url('../images/fond-postit.png') no-repeat center;}
.vide {background-color: #FF0000;color: #FFFFFF;font-family: Arial;margin-left: 40%;margin-right: 40%;text-align: center;font-size: 16px;}
.nobord {border: 0px;}
/******************************************************** Configuration du cdt **********************************************************/

#cfg-container{margin: 0 10px;padding:0;width:979px;height:800px;background:url('../images/fond-cdt-cfg.png') #f8f8ff no-repeat;text-align:left;font-size:14px;font-family: Arial, Helvetica ,sans-serif, verdana;}
#cfg-contenu{float:left;margin:80px 0 10px 50px;padding:1px;width:820px;height:560px;background:white;text-align:left;font-size:14px;opacity:0.9;-moz-border-radius:12px;-webkit-border-radius: 12px}
#cfg-onglet{position:relative;margin:0}
#cfg-form{float:left;margin:0;text-align:left}
#cfg-contenu ol{float:left;margin-left:0;}
#cfg-btn{float:left;text-align:center;margin:5px;width:760px;}
#cfg-btn input.modif {background:url('../images/bt-cdt-enregistrer.png') no-repeat;color:#ffffff;border:none;height:20px;width:120px;cursor:pointer;margin: 0 10px;}
#cfg-btn input.enreg {background:url('../images/bt-cdt-creerrub.png') no-repeat;color:#ffffff;border:none;height:20px;width:120px;cursor:pointer;margin: 0 10px;}
#cfg-btn input.retour {background:url('../images/bt-cdt-retourcdt.png') no-repeat;color:#ffffff;border:none;height:20px;width:120px;cursor:pointer;margin: 0 10px;}
#cfg-btn input.annul {background:url('../images/bt-cdt-annuler.png') no-repeat;color:#ffffff;border:none;height:20px;width:120px;cursor:pointer;margin: 0 10px;}
.bt-perso {background:url('../images/bt-cdt-personnaliser.png') no-repeat;float:left;margin:30px 200px;padding:0px;border:none;font-size:13px;width:120px;height:20px;cursor:pointer;}
.archive {text-align: left;font-size: 12px;color: #3333ff;}
.archive_nok {text-align: left;font-size: 12px;color: #ff3333;}
.evidence {color: #660000;text-decoration: underline;}
#cfg-form li {padding :3px;}
/********************************************************* Pied de page du cdt **********************************************************/

#pied{
 -moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#1B2C68 none repeat scroll 0 0;
color:#FFFFFF;
float:left;
font-size:14px;
margin:0;
padding:10px 0;
text-align:center;
width:100%;
}
#pied img {vertical-align: middle;float: right;border: 0px;margin-right: 20px;}
#pied img.ie {vertical-align: middle;float: left;border: 0px;margin-left: 20px;}
/*********************************************************** Planning du cdt ************************************************************/

#form-ajt-dev {color:#1b2c68;margin:5px 40px;font-size:14px;border:solid 2px #0d6a1e;padding:0 15px; width:810px;-moz-border-radius: 12px;-webkit-border-radius: 12px;}
#planning {text-align:center;}
#bt-select{background:url('../images/bt-cdt-autclass.png') no-repeat;color:white;padding:5px 62px;border:none;height:20px;width:120px;font-size:14px}
#form-ajt-dev input.bt {background:url('../images/bt-cdt-enregistrer.png') no-repeat;height:20px;padding:0 5px;color:#ffffff;border:none; font-size:14px;width:120px;cursor:pointer;}
#form-ajt-dev input.text {margin:0 3px}
.plan-titre {text-align:center;text-decoration:underline;font-size:28px;margin:10px 0;color:#1b2c68;width: 990px;}
table#plan-cdt {font-size:14px;width:100%;margin:10px 0;border:none;padding:5px}
table#plan-cdt tbody {text-align:center;}
table#plan-cdt thead th{background:none;}
table#plan-cdt thead td{color:#fff;background:#1b2c68;opacity: 0.7;-moz-border-radius:12px;-webkit-border-radius:12px;}
table#plan-cdt th {color: #fff;width:100px;font-weight: normal;background:#1b2c68; opacity: 0.7;-moz-border-radius:12px;-webkit-border-radius: 12px;}
table#plan-cdt td {padding:6px;border-top:solid 1px #1b2c68;border-left:solid 1px #1b2c68;-moz-border-radius:12px;-webkit-border-radius: 12px;}
table#plan-cdt td.mi-jour {background:#fff;border:solid 0 white;}
.libre, .reserve, .passe, .devoir, .encours, .erreur, .absence, .retard, .hebdo {font-family: arial;font-size: 8pt;text-align: center;}
.hebdo {color:#0d6a1e;font-size:16px;padding:6px;border:solid 1px #1b2c68;-moz-border-radius:12px;-webkit-border-radius: 12px}
.libre {color: #003300;background-color: #ECECE3;}
.libre img {border:none;margin:1px;}
.passe {color: #CC0000;background-color: #C0C0C0;}
.reserve {color: #fff;background-color: #0d6a1e;opacity:0.75;}
.reserve img {border:none;margin:1px;}
.absence {color: #fff;background-color: #FF0000;opacity:0.75;text-align: center;}
.retard {color: #000033;background-color: #F9E709;text-align: center;}
.encours {color: #000033;background-color: #fff;text-align: center;opacity:0.85;}
.devoir {color: #FFFFFF;background-color: #0d6a1e;text-align: center;opacity:0.85;}
.erreur {background-color: #FF0000;color: #FFFFFF;font-family: Arial;margin-left: 40%;margin-right: 40%;text-align: center;}
.absmod {font-family: Arial, Helvetica, sans-serif;font-size: 10pt;color: #000099;font-weight: bold;background-color:#FAD3A1;text-align:center;}
.abs {font-family: Arial, Helvetica, sans-serif;font-size: 10pt;color: #FEFFE2;font-weight: bold;background-color:#000099;text-align: center;}
.ok  {font-family: cursive;font-size: 12pt;color: #486591;text-align: left;}
.ko {font-family: cursive;font-size: 12pt;color: #486591;text-align: left;background-color: #FFCC99;margin-right: 30%;}

table#btn-plan-cdt {margin: 5px auto 0;}
table#btn-plan-cdt tbody tr td input.bt50{background:url('../images/bt-cdt50.png') no-repeat;color:#fff;padding:0 0 8px 0;border:none;font-size:14px;height: 1.8em;width:50px;cursor:pointer;}

table#btn-plan-cdt tbody tr td input.bt-exit{background:url('../images/bt-cdt-quitter.png') no-repeat;color:#fff;padding:0 0 8px 0;border:none;font-size:14px;height: 1.8em;width:120px;cursor:pointer;}


/*********************************************************** Popup du cdt ************************************************************/

#fd-popup {float:left;margin:10px;padding:20px;-moz-border-radius: 12px;-webkit-border-radius: 12px;background: url('../images/fond-popup.png');}
#field7, #fields8, #field9 {text-align:center;margin:10px;padding:20px;-moz-border-radius: 12px;-webkit-border-radius: 12px;background: url('../images/fond-popup.png');}
#field7 p, #fields8 p, #field9 p {text-align:left;}
#field7 a, #fields8 a, #field9 a {text-decoration:none;}
#legende, #legend2,#legendter {color: #0d6a1e;background:#fff;padding:3px 10px;font-size:16px;-moz-border-radius: 12px;-webkit-border-radius: 12px;border:solid 1px #0d6a1e;}
#sel-classe{float:left;margin:10px 0;width:100%}
table#diff-dev {margin:0 20px;padding:2px;}
.notabene{color: #fff;background-color: #0d6a1e;opacity:0.75;margin:12px 1.5em;padding:1% 4%;-moz-border-radius: 0.5em;-webkit-border-radius: 0.5em;}
#field7 ol, #field7 ul, #fields8 ol, #fields8 ul, #field9 ol, #field9 ul {float:left;margin:0;color:#1b2c68;padding:5px;border:none;text-align:center;width:100%;}
#field7 li, #fields8 li, #field9 li{margin: 4px 20px;text-align:left;}
#field7 input.text, #fields8 input.text, #field9 input.text{padding:2px;margin:2px 0}
#field7 input.bt-valid, #fields8 input.bt-valid, #field9 input.bt-valid {background:url('../images/bt-cdt-valider.png') no-repeat;margin:0 0 0 10px;padding:0;border:none;font-size:13px;width:120px;height:20px;cursor:pointer;}
#field7 input.bt-annul, #fields8 input.bt-annul, #field9 input.bt-annul {background:url('../images/bt-cdt-annuler.png') no-repeat;margin:0 0 0 10px;padding:0;border:none;font-size:13px;width:120px;height:20px;cursor:pointer}
#field7 input.bt-plan-dev, #fields8 input.bt-plan-dev, #field9 input.bt-plan-dev {background:url('../images/bt-cdt-plan-dev.png') no-repeat;margin:0 10px 0 0;padding:0;border:none;width:120px;height:20px;cursor:pointer}
#field7 input.bt-valid-sel, #fields8 input.bt-valid-sel, #field9 input.bt-valid-sel {background:url('../images/bt-cdt-validerselect.png') no-repeat;margin:0 0 0 10px;padding:0;border:none;font-size:13px;width:120px;height:20px;cursor:pointer}
#field7 input.bt-enregistre, #fields8 input.bt-enregistre, #field9 input.bt-enregistre {background:url('../images/bt-cdt-enregistrer.png') no-repeat;margin:0 0 0 10px;padding:0;border:none;font-size:13px;width:120px;height:20px;cursor:pointer;}
#field7 input.bt-fermer, #fields8 input.bt-fermer, #field9 input.bt-fermer {background:url('../images/bt-cdt-fermer.png') no-repeat;margin:0 0 0 10px;padding:0;border:none;font-size:13px;width:120px;height:20px;cursor:pointer;}
#field7 input.bt50, #fields8 input.bt50, #field9 input.bt50{background:url('../images/bt-cdt50.png') no-repeat;color:#fff;padding:0 0 5px 0;border:none;font-size:14px;height:1.8em;width:50px;cursor:pointer;}
#services {text-align:center;margin:30px 0 5px;}
#eqt {margin:5px 20px;padding:2px 5px;text-align:left;background:#fff;border:inset 1px #eee;}
#classes {clear:both;font-size:6px;width:100%;margin:10px 0;border:none;padding:5px}
#classes td.sele {vertical-align: top;}
#chrono {width:400px;margin:12px auto; padding:5px;border:solid 1px #1b2c68;-moz-border-radius: 12px;-webkit-border-radius: 12px;}
#impression {float:left;width: 960px;margin: 12px; padding:5px;}
#taf {margin:10px;padding:20px;border: solid 1px #0d6a1e;-moz-border-radius: 12px;-webkit-border-radius: 12px;background: url('../images/fond-popup.png');}
#poprss{width:80%;margin:13px;padding:20px;border: solid 1px #0d6a1e;-moz-border-radius: 12px;-webkit-border-radius: 12px;background: url('../images/fond-popup.png');}
#field7 img {border : none;}
table#pop {text-align:left;padding:1px;border : 0px;}
table#pop {font-size:14px;width:100%;margin:10px 0;border:none;padding:5px}
table#pop tbody {text-align:center;}
table#pop thead th{background:none;}
table#pop thead td{color:#fff;background:#1b2c68;opacity: 0.7;-moz-border-radius:12px;-webkit-border-radius:12px;}
table#pop th {color: #fff;width:100px;font-weight: normal;background:#1b2c68; opacity: 0.7;-moz-border-radius:12px;-webkit-border-radius: 12px;}
table#pop td {padding:6px;}
/*********************************************************** Absences du cdt ************************************************************/
#abs-contenu{padding:12px;background:white;text-align:left;font-size:14px;opacity:0.9;-moz-border-radius:12px;-webkit-border-radius: 12px;}
#crenos {margin:10px 0 20px;}
#abs-bt {margin-top:20px;text-align:center;}
#bt-abs {margin-top:20px;text-align:center;}
#bt-fixe {position:fixed; top:160px; right:35px;padding:0.6em;background:#eee;opacity:0.95;-moz-border-radius:0.5em;-webkit-border-radius: 0.5em;border:2px outset #1b2c68;}
#bt-consult {background:url('../images/bt-cdt-abs.png') no-repeat;color:white;padding:5px 62px;border:none;height:20px;width:120px;}
#bt-imp {background:url('../images/bt-cdt-imprimer.png') no-repeat;color:white;padding:5px 62px;border:none;height:20px;width:120px;}
#bt-close {background:url('../images/bt-cdt-fermer.png') no-repeat;color:white;padding:5px 62px;border:none;height:20px;width:120px;}
table#abs {text-align:left;padding:1px 0;background:#1b2c68;}
table#abs thead{background:#fff;}
table#abs thead tr td.elv {font-size:16px;text-align:center;width:180px;}
table#abs tfoot tr td{background:#fff;border:2px outset #1b2c68;height:2em;text-align:center; font-size:16px}
table#abs tr.lgn0{background:#e6e6fa}
table#abs tr.lgn1{background:#fff}
table#abs tr.lgn2{background:#ff0000}
table#abs td.nbA {width:50%;padding:1px}
table#abs td.nbR {width:50%;padding:1px}
table#abs td.boxA {width:25px;padding:1px}
table#abs td.boxR {width:25px;padding:1px}
table.motif {text-align:center; width:100%;}
table.motif td.h-motif {font-weight:bold;padding:2px;color:#0d6a1e;}
table.motif td.AR {width:25px;vertical-align: bottom;}
table.motif td.nbA {width:50%;padding:1px;}
table.motif td.nbR {width:50%;padding:1px;}
table.motif td.boxA {width:30px;padding:1px;}
table.motif td.boxR {width:30px;padding:1px;}
table.motif td.enbas {vertical-align: bottom;}
table.motif td.cren {vertical-align:middle;font-size:12px;}
table#abs img {border :0px;}
td.absence a {color: #000;}
table#plan-cdt thead td.abs{width:13%;text-align: center;}
#crd {margin-left:10px;}
.cadrecheck {margin: 2px;border: solid 1px ;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
/*********************************************************** Impression du cdt ************************************************************/
table#impr {text-align:left;padding:1px 0;width:980px;}
table#impr caption {background:white; caption-side:top;margin:20px 20px 0;padding:5px;font-size: 15pt;}
table#impr caption h2 {float:left;margin:20px 0;color:#1b2c68;text-align:center;width:100%}
table#impr caption h6 {float:right;margin:0 50px;color:red;}
table#impr caption img {float:right;}
table#impr tbody {padding:5px;margin:5px}
table#impr tbody tr th {background:#E6E6FA;border-top:20px solid #FFF;border-bottom:solid 1px #000;font-size:16px;font-weight:normal;padding:2px 10px;}
table#impr tbody tr td {background:#fff;padding:5px 40px;font-size:16px;}
table#impr tbody td.afR {background:#fff;text-decoration:underline;font-size:1em;color:#0d6a1e;font-weight:bold;}
table#impr tbody  .cours {background:#fff;text-decoration:underline;font-size:1em;font-weight:bold;color:#1b2c68 }
table#impr tbody td.description {background:#fff;font-size:0.9em;font-style:italic;border: 2px Groove Green;}
table#impr tbody tr th.seance {color: #660000;font-style:italic;background:#eee ; }
/********************************************************** Administration du cdt ********************************************************/
.nook {background: tomato ;font-family: cursive;font-size: 12pt;color: #fff;text-align: left;padding: 3px;}
.cok {background: lightgreen  ;font-family: cursive;font-size: 12pt;color: #003300;text-align: left;padding: 3px;}
#bt-rss{background:url('../images/lcs-cdt.png') no-repeat;margin: 0 5px;padding:2px 50px 0px 50px;border:none;width:60px;height:20px;}
#bt-google{background:url('http://gmodules.com/ig/images/plus_google.gif') no-repeat;margin: 0 5px;padding:2px 12px 3px 60px;border:none;width:62px;height:20px;}
.field7d ul.perso,.field7d ol.perso {float:left;color: #1b2c68;margin:5px 25px;text-align: left;font-weight: normal;}
table#plan-cdt.vac {width:50%;margin-left:5px;}
table#plan-cdt thead th.vac{color:#0D6A1E ;}
table#plan-cdt thead td.vac{text-align: center;padding:3px;}
table#plan-cdt th.vac{width:180px;text-align: center;opacity:1;}
/***********************************************************Archives *********************************************************************/
.bt-copier {background:url('../images/bt-cdt-copiercoller.png') no-repeat;border:none;font-size:14px;height:20px;width:120px;cursor:pointer;}
.bt2-fermer {background:url('../images/bt-cdt-fermer.png') no-repeat;margin:0 0 0 10px;padding:0;border:none;font-size:13px;width:120px;height:20px;cursor:pointer;}
/***********************************************************Cdt direction ****************************************************************/
.field7d {text-align:center;margin:10px;padding:20px;-moz-border-radius: 12px;-webkit-border-radius: 12px;background: url('../images/fond-popup.png');}
.field7d p {text-align:left;}
.field7d a {text-decoration:none;}
.legended {color: #0d6a1e;background:#fff;padding:3px 10px;font-size:16px;-moz-border-radius: 12px;-webkit-border-radius: 12px;border:solid 1px #0d6a1e;}
.field7d ol, .field7d ul {margin:0;color:#1b2c68;padding:5px;border:none;text-align:center;width:100%;}
.field7d li {margin: 4px 20px;text-align:left;}
.field7d input.text {padding:2px;margin:2px 0}
.field7d input.bt-valid  {background:url('../images/bt-cdt-valider.png') no-repeat;margin:0 0 0 10px;padding:0;border:none;font-size:13px;width:120px;height:20px;cursor:pointer;}

/***********************************************************Sequences *********************************************************************/
#field10 {
    text-align:left;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    background: url('../images/fond-popup.png');
    }

table#tb-cdt tbody.field11 {
    text-align:left;
    -moz-border-top-right-radius: 12px; -webkit-border-top-right-radius: 12px;
    -moz-border-bottom-right-radius: 12px; -webkit-border-bottom-right-radius: 12px;
    -moz-border-bottom-left-radius: 12px; -webkit-border-bottom-left-radius: 12px;
    background: url('../images/fond-sequence.png');
    }
	
.malegende {
    background: url('../images/fond-sequence.png');
    font-size:16px;
    margin-left:-10px ;
    padding:14px;
    -moz-border-radius: 12px 12px 0 0;
    -webkit-border-top-right-radius: 12px;
    -webkit-border-top-left-radius: 12px;
    font-family:Arial,Verdana,  Helvetica, sans-serif;
    text-align:left;
     }

.descr_seq {
    margin: 10px;
    padding:10px;
    background-color:#f8f8ff;
    
    }
.descr_seq.off {
        display:none;
    }

.titre_seq {
    font-family:Arial,Verdana,  Helvetica, sans-serif;
    font-size:16px;
    padding:5px;
    background-color:#f8f8ff;
    color:#0d6a1e;
    border: solid 2px  #0d6a1e;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    }

.sea_seq {
    padding:10px;
    margin: 10px;
    width:50%;
    }

.switch_seq.clos {
    background:url('../images/zoom_in.png') no-repeat;
   margin : 5px;
   cursor:pointer;
   padding : 6px;
   width:16px;
   }

.switch_seq.open {
   background:url('../images/zoom_out.png') no-repeat;
   margin : 5px;
   padding : 6px;
   cursor:pointer;
   width:16px;
   }
   
.order.down {
   background:url('../images/arrow_up.png') no-repeat;
   margin-left :30px;
   padding : 6px;
   cursor:pointer;
   }
   
.order.up {
   background:url('../images/arrow_down.png') no-repeat;
   margin-left :30px;
   padding : 6px;
   cursor:pointer;
   }
      
.agauche {
    float:left;
    color: #486591;
    margin:5px 25px;
    text-align: left;
    font-family: arial;
    font-weight: normal;}

