Package: lcs-cdt
Version: 1.02
Section: misc
Priority: optional
Architecture: i386
Depends: lcs-web
Installed-Size: 4992
Maintainer: Philippe Leclerc <philippe.leclerc1@ac-caen.fr>
Description: Install Cahier de textes on LCS server
 Cahier de textes
