Source: lcs-phpsysinfo
Section: misc
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: lcs-phpsysinfo
Architecture: all
Depends: slis-common, lcs-web, phpsysinfo (>= 2.5.1-6)
Description: Installation de phpsysinfo sur LCS
 This package installs phpsysinfo and a lcs theme the LCS project
