Source: lcs-anti-spam
Section: misc
Priority: extra
Maintainer: Simon Cavey <simon.cavey@crdp.ac-caen.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: lcs-anti-spam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, spamassassin, procmail
Description: add anti-spam fonctionnality on LCS config
 add anti-spam for LCS, with spamassassin and procmail 
