body	{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
	text-align: justify;
	background-image: url(../Images/texture.jpg);
}

.menuheader {
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    border: 1px #333333 solid;
    background-color: #000066;
    clip:  rect(   )
}
.menucell {
    font-size: 13px;
    font-weight: normal;
    color: #333333;
    background-color: #f8f8ff;
    border: 1px #333333 solid;
}

.cell {
    font-size: 12px;
    font-weight: normal;
}

.texte {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
	text-align: justify;
}

.modif {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
	text-align: left;
	color: #B00000;
}


.avertissement {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
	text-align: center;
	font-style: bold;
	color: #CC0000;
}

.confirm {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
	text-align: center;
	font-style: bold;
	color: #000080;
}

.remarque {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 14px;
	text-align: center;
	color: #000080;
}

.affichok {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
	text-align: left;
	color: #000080;
}

.affichko {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
	text-align: left;
	color: #CC0000;
}

.affichencours {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
	text-align: left;
	color: #008000;
}

 .ret1{
 font-size:14px;margin-left:50px}
 
  .ret2{
 font-size:14px;margin-left:100px}
 
  .ret3{
 font-size:14px;margin-left:150px}
 
  .ret4{
 font-size:14px;margin-left:200px}


h1 {
    font-size: 22px;
    font-weight: bold;
    color: #F8F8FF;
    background-color: #000066;
    text-align: center;
}

h2 {
    font-size:16px;
    color: #F8F8FF;
    background-color: #000066;
        
}

 
a:link  {color:  #A80000; text-decoration: none; }

a:hover {
        color: #BED968;
        text-decoration: underline;
        }

a:visited {color: #8B778C;text-decoration: none; }

.menuinfocell { font-family: "Trebuchet MS", Verdana, Arial, sans-serif; font-size: 12px; font-weight: normal; color: #333333; background-color: #CC9999; border: 1px #333333 solid }

.infocell a:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #B30F23
}
.menuheader a:link { color: #F8F8FF}
.menuheader a:visited { color: #FFFFFF}
.menuheader a:hover { color: #BED968}
.menucell a:link { color: #A90000}
.menucell a:visited { color: #8B778C}
.menucell a:hover { background-color: #333333; color: #BED968}

div.error_msg {
      text-align: center;
      color: #ff8f00;
      font-size: medium;
      font-weight: normal;
      font-family: arial, helvetica,sans-serif;
      }

div.alert_msg {
      text-align: center;
      color: #ff8f00;
      font-size: normal;
      font-weight: bold;
      font-family: arial, helvetica,sans-serif;
}
pre.screen {
        font-family: monospace:
        border-style: ridge outset;
        border-color: navy;
        margin-right: 1em;
        margin-left: 2em;
        padding-left: 1em;
        padding-right: 1em;
        background-color: lightgrey;
#       color: AntiqueWhite4;
        color: black;
}
