<plugin>
	<nom>Lcs-Skel</nom>
	<description>
		Squelette du forum LCS.	Personnalisation de l&apos;affichage public. 
-		<strong>Ce plugin n&eacute;cessite l&rsquo;utilisation du plugin CFG - version 1.6 ou sup&eacute;rieure</strong>
	</description>
	<lien>
		<a href="http://wwdeb.crdp.ac-caen.fr/LcsDoc/index.php/Syst%C3%A8me_d%27informations_LCS%2C_le_Forum_Intranet" title="Voir la documentation">Documentation LCS</a>
	</lien>
	<version>2.4</version>
	<prefix>lcs_skel</prefix>
	<etat>test</etat>
	<auteur>Dominique (DoM) Lepaisant</auteur>
	<icon>img_pack/logo_lcs_100.png</icon>
	<fonctions>lcs_skel_fonctions.php</fonctions>
	<install>action/lcs_skel_upgrade.php</install>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBoutons</action>
		<inclure>lcs_skel_pipe.php</inclure>
	</pipeline>
	<pipeline>
		<nom>ajouter_onglets</nom>
		<action>ajouterOnglets</action>
		<inclure>lcs_skel_pipe.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>lcs_skel_pipe.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<action>insert_head</action>
		<inclure>lcs_skel_pipe.php</inclure>
	</pipeline>
</plugin>	
