/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

* {
	cursor: default;
}

html,
body {
	overflow: hidden;
}

body {
	background: #222;
	font: 12px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a {
	text-decoration: none;
	color:#404040;
}

li {
	list-style: none;
}

/* `Misc
----------------------------------------------------------------------------------------------------*/

.abs {
	position: absolute;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
}

.align_center {
	text-align: center;
}

.align_right {
	text-align: right;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.ui-resizable-se {
	background: url(../images/gui/window_corner.gif) no-repeat right bottom;
	font-size: 0;
	overflow: hidden;
	width: 15px;
	height: 15px;
	right: 0;
	bottom: 0;
}

div.ui-resizable-handle {
	display: none !important;
	visibility: hidden !important;
}

/* `Icons
----------------------------------------------------------------------------------------------------*/

.icon {
	background: url(../images/gui/trans_white.png) no-repeat -999px -999px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	line-height: 1.2;
	padding: 6px 1px 6px;
	text-align: center;
	text-shadow: #000 0 1px 2px;
	width: 80px;
}

.icon.active {
	background: url(../images/gui/trans_black.png);
}

.icon img {
	background: url(../images/gui/trans_black.png) no-repeat -999px -999px;
	display: block;
	margin: 0 auto;
	width: 32px;
	height: 32px;
}

.icon:hover,
.icon.ui-draggable-dragging {
	background-position: 0 0;
	background-repeat: repeat;
	border: 1px solid #fff;
	padding: 5px 0 5px;
}

.icon.ui-draggable-dragging {
	z-index: 20;
}

/* `Windows
----------------------------------------------------------------------------------------------------*/

.window {
	background: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #000;
	display: none;
	width: 700px;
	height: 300px;
	top: 30px;
	left: 120px;
	z-index: 2;
	-moz-box-shadow: 3px 3px 1em #666; /*10px 10px 2em #666*/
	min-height:450px; /* A TESTER */

}
.lcs_window {
	background: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #000;
	display: none;
	width: 500px;
	height: 300px;
	z-index: 3;
	-moz-box-shadow: 3px 3px 1em #666; /*10px 10px 2em #666*/

}

.window.window_stack,
.window.ui-draggable-dragging {
	z-index: 10;
}

.window.ui-draggable-dragging {
	opacity: 0.5;
}

.window.ui-draggable-dragging .window_content,
.window.ui-draggable-dragging .window_bottom {
	display: none;
}

.window_full.ui-draggable-dragging {
	opacity: 1;
}

.window_full.ui-draggable-dragging .window_content,
.window_full.ui-draggable-dragging .window_bottom {
	display: block;
}

.window_full {
	border: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	width: 100%;
	height: 100%;
}

.window_full .ui-resizable-se {
	display: none;
}

.window_top, .ui-dialog-titlebar {
	background: #333 url(../images/gui/bar_bottom.png) repeat-x;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	color: #fff;
	font-weight: bold;
	overflow: hidden;
	line-height: 30px;
	padding: 0 10px;
	text-shadow: #000 0 1px 1px;
	height: 30px;
}

.window_top img {
	float: left;
	margin: 6px 5px 0 0;
}

.window_bottom, .ui-dialog-buttonpane {
	background: #fff url(../images/gui/bar_top.png) repeat-x left bottom;
	border-top: 1px solid #bbb;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	overflow: hidden;
	text-align: center;
	text-shadow: #fff 0 1px 1px;
	height: 20px;
	left: 1px;
	right: 1px;
	bottom: 1px;
}
.ui-dialog-buttonpane {
	height:35px;
}
.ui-icon,
.window_min,
.window_resize,
.window_close,
.window_slide_left,
.window_slide_right {
	background: url(../images/gui/window_buttons_left_right.gif) no-repeat;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	float: left;
	font-size: 0;
	margin: 6px 0 0 5px;
	width: 28px;
	height: 15px;
}
.ui-icon{float:right;
}

.window_slide_right,
.window_slide_left{
		background: url(../images/gui/window_buttons_left_right_15-15.gif) no-repeat;
		margin-left:-5px;
	}	

.window_min:hover {
	background-position: 0 -15px;
}

.window_resize {
	background-position: -28px 0;
}

.window_resize:hover {
	background-position: -28px -15px;
}

.window_close, .ui-icon-closethick {
	background-position: -56px 0;
}

.window_close:hover, .ui-icon-closethick:hover {
	background-position: -56px -15px;
	box-shadow: #f00 0 0 10px;
	-moz-box-shadow: #f00 0 0 10px;
	-webkit-box-shadow: #f00 0 0 10px;
}
.window_slide_left {
	background-position: -84px 0;
}
.window_slide_left:hover {
	background-position: -84px -15px;
}
.window_slide_right {
	background-position: -112px 0;
}
.window_slide_right:hover {
	background-position: -112px -15px;
}

.window_min:hover,
.window_resize:hover {
	box-shadow: #09f 0 0 10px;
	-moz-box-shadow: #09f 0 0 10px;
	-webkit-box-shadow: #09f 0 0 10px;
}

.window_inner {
	padding: 1px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.window_content {
	background: url(../images/gui/bg_ora_dgrd_trsp-37.gif) repeat-x;
	line-height: 1.5;
	overflow: auto;
	top: 32px;
	left: 1px;
	right: 1px;
	bottom: 23px;
}

.window_aside {
	float: left;
	font-size: 11px;
	padding: 10px 12px 10px 10px;
	width: 150px;
}

.window_main {
	background: #fff;
	margin: 0 0 0 173px;
	min-height: 100%;
}

.window_full .window_top,
.window_full .window_bottom {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.window_full .window_inner {
	bottom: -1px;
}

/* `Table >> Data #3875d7
----------------------------------------------------------------------------------------------------*/

table.data {
	width: 100%;
	white-space: nowrap;
}

table.data th,
table.data td {
	padding: 5px 10px;
	vertical-align: middle;
}

table.data th {
	background: #fff url(../images/gui/bar_top.png) repeat-x left bottom;
	border-left: 1px solid #fff;
	font-weight: bold;
	text-shadow: #fff 0 1px 1px;
	white-space: nowrap;
}

table.data th:first-child {
	border: 0;
}

table.data img {
	display: block;
}

table.data td.zebra {
	background: #def;
}

table.data tr.active td {
	background: #06c url(../images/gui/bar_top_link.png) repeat-x;
	color: #fff;
}

th.shrink {
	width: 1%;
}

/* `Bar >> Top + Bottom 
----------------------------------------------------------------------------------------------------*/

#bar_top,
#bar_bottom
 {
	font-weight: bold;
	padding: 0 10px;
	left: 0;
	right: 0;
}

#bar_top
 {
	background: #fff url(../images/gui/bar_top.png) repeat-x left bottom;
	border-bottom: 1px solid #333;
	color: #999;
	line-height: 25px;
	padding-right: 20px;
	text-shadow: #fff 0 1px 1px;
	height: 25px;
	top: 0;
}

#bar_bottom {
	background: #333 url(../images/gui/bar_bottom.png) repeat-x;
	border-top: 1px solid #fff;
	color: #fff;
	font-size: 13px;
	line-height: 30px;
	opacity: 0.8;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	text-shadow: #000 0 1px 1px;
	height: 30px;
	bottom: 0;
}

/* `Bar >> Links
----------------------------------------------------------------------------------------------------*/

#bar_top li,
#bar_bottom li {
	float: left;
}

#bar_top li a,
#bar_bottom li a {
	display: block;
	padding: 0 10px;
}

#bar_top li a {
	background-image: url(../images/gui/bar_top_link.png);
	background-repeat: no-repeat;
	background-position: -999px -999px;
	color: #000;
	overflow: hidden;
	height: 25px;
	min-height: 1px;
}

#bar_top a.active {
	background-color: #06c;
	background-position: 0 0;
	background-repeat: repeat-x;
	color: #fff;
	text-shadow: none;
}

#bar_top ul.menu, #bar_top ul.menu li ul {
/*	background: #eee; */
		background: transparent url(../images/gui/trans_white_95pc.png);
	border: 1px solid #333;
	border-top-width: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	display: none;
	font-weight: normal;
	margin: 1px 0 0 -1px;
	padding: 1px 1px 0;
	position: absolute;
	min-width: 200px;
	z-index: 30;
}
#bar_top ul.menu li {
	float: none;
	position:relative;
}
	#bar_top ul.menu li ul {
		border-top-width: 1px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
	}

#bar_top ul.menu a {
	background: transparent; /*#fff*/
	border-bottom: 1px solid #eee;
	min-width: 200px;
	padding-right:25px;
	font-size:1.1em;
}
#bar_top ul.menu a.submenu {
	background:  url(../images/icons/arrow_right_grey_20-12.png) no-repeat right center;
}
#bar_top ul.menu a img{
	vertical-align:middle;
}

#bar_top ul.menu li:last-child a {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
#bar_top ul.menu ul li:first-child a {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#bar_top ul.menu a:hover {
	background: #06c url(../images/gui/bar_top_link.png) repeat-x;
	color: #fff;
	text-shadow: none;
}

#bar_top ul.menu li ul,#bar_top ul.menu li ul ul{
/*	margin-left:200px; */
	display:none;
	position:absolute;
	left:99%;
	top:0;
} 
#bar_top ul.menu li:hover ul{
	display:block;
} 
#bar_top ul.menu li:hover ul ul{
	display:none;
} 
#bar_top ul.menu li li:hover ul{
	display:block
} 

#bar_bottom li {
	display: none;
	margin: 0 0 10px 5px;
}

#bar_bottom li a {
	background: #333;
	min-width: 150px;
}

#bar_bottom a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
	overflow: hidden;
	padding: 0 10px;
	height: 30px;
}

#bar_bottom a.icon {
	padding: 0;
}

#bar_bottom a:hover {
	background: #000;
}

#bar_bottom a:active {
	background: #c60;
	border: 1px solid #fff;
	padding: 0 9px;
}

#bar_bottom li a img {
	float: left;
	margin: 4px 5px 0 -5px;
}

#bar_bottom .float_left img,
#bar_bottom .float_right img {
	display: block;
	padding: 4px 0 0;
}

/* `Wallpaper + Desktop
----------------------------------------------------------------------------------------------------*/

#wallpaper, #wallpaper_b  {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

#desktop, #inettuts, #monLcs {
	overflow: hidden;
	top: 26px;
	left: 0;
	right: 0;
	bottom: 41px;
}
#inettuts {
/*	background:#000000; */
	left:3000px;
	z-index:1;
	overflow-y:auto;
}
#monLcs {
/*	background:#000000; */
	left:-3000px;
	z-index:1;
}

/* `forms 
----------------------------------------------------------------------------------------------------*/
div.jqd_formulaires{
	margin-left:175px;
}
	div.jqd_formulaires h1{
		font-size: 18px; 
		padding: 5px 5px 0pt 10px;
		color: #555555;
	}
	
div.jqd_form_side{
	margin-left:-175px;
	width:175px;
	float:left;
}
	div.jqd_form_side div{
		text-align-center;
		margin:5px;
		padding:5px;
		overflow-x:hidden;
	}
	div.jqd_form_side img{
		margin:auto;
	}
	div.jqd_form_side ul li{
		position:relative;
		padding-left:10px;
	}
	div.jqd_form_side ul.classes_select li{
			padding:3px 5px 3px 25px;
	}
form.jqd_form{
	margin:10px;
	background:#fff;
}
	form.jqd_form fieldset{
		border:1px solid #aaa;
		margin:0 10px;
		padding:5px 10px;
	}
	form.jqd_form legend{
		font-weight:bold;
		font-size:1.2em;
	}
	form.jqd_form ul{
	}
		form.jqd_form ul li{
			padding:10px 10px 10px 120px;
			clear:both;
			border-bottom:1px solid #aaa;
		}
			form.jqd_form ul li label{
				float:left;
				margin-left:-115px;
				clear:both;
				width:115px;
			}
			form.jqd_form ul li select{
				width:120px;
			}
	input.addValue{
		border:1px solid #aaa;
		color:#666;
	background:#ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}


/* `annonce
----------------------------------------------------------------------------------------------------*/

#annonce, .box_trsp_black{
	background:transparent url(../images/gui/trans_black.png);
	display:none;
	border:1px solid #cccccc;
	border-radius:  15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-box-shadow:3px 3px 1em #666;
}
#annonce,{
	display:none;
	color:#eeeeee;
	position:absolute;
	width:200px;
	padding:10px;
	z-index:12;
}
.box_trsp_black{
	background:transparent url(../images/gui/trans_black.png);
	display:none;
	color:#eeeeee;
	max-width:250px;
	padding:10px;
	border-radius:0 0  15px 15px;
	-moz-border-radius:0 0 15px 15px;
	-webkit-border-radius:0 0 15px 15px;
	-moz-box-shadow:3px 3px 1em #666;
}
}
.box_trsp_black p{
	padding:0 5px;
	margin-bottom:10px;
}
.box_trsp_black a{
	color:#ffffff;
}
#user_infos{
//	overflow:hidden;
	position:absolute;
	text-shadow: #333 0 1px 1px;
	display:none;
}
#user_infos li.list_infos_user a{
	display:inline;
	color:orange;
	text-shadow: #333 0 1px 1px;
}
.bg_white{
	background: #fff url(../images/gui/bar_top.png) repeat-x left bottom;
	z-index:12;
	margin: 10px -9px -9px -9px;
	padding: 20px 5px;
	text-align:center;
	border-bottom-right-radius: 14px;
	border-bottom-left-radius: 14px;
	-moz-border-radius-bottomright: 14px;
	-moz-border-radius-bottomleft: 14px;
	-webkit-border-bottom-right-radius: 14px;
	-webkit-border-bottom-left-radius: 14px;
}
.bar_top_dark{
background:url("../images/gui/bar_bottom.png") repeat-x scroll 0 0 #333333;
border-bottom:1px solid #FFFFFF;
bottom:0;
color:#FFFFFF;
font-size:13px;
height:20px;
line-height:20px;
opacity:0.8;
overflow:hidden;
padding-bottom:5px;
padding-top:5px;
padding-left: 10px;
text-shadow:0 1px 1px #000000;
}

.bar_top_dark{
	margin:-10px;
	margin-bottom:10px;
	border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	-webkit-border-radius: 20px 20px 0 0;
}
.btn_bar_top{
	color:#db2306;
	font-size:.8em;
	line-height:16px;
	height:16px;
	margin:3px 10px 0 10px;
	padding:0 5px 0 28px;
	min-width:24px;
	border:1px solid #db2306;
	border-radius:  3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow:2px 2px 2px #db2306;
	background:url(../images/icons/desktop_24.png) no-repeat left center;
}
.btn_bar_top:hover{
	background:url(../images/icons/select_24.png) no-repeat 3px -5px;
	border:1px solid #227732;
	border-radius:  3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow:2px 2px 10px #227732;
}
.btn_bar_top.saved{
	border:1px solid #999;
	border-radius:  3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow:1px 1px 1px #999999;
	color:#666666;
}
.dsktp{
	margin:0;
	padding:0;
}
.dsktp:hover{
}
.bouton a, .button{
	background: #fff url(../images/gui/bar_bottom.png) repeat-x left top;
	color:#eeeeee;
	padding:3px 8px;
	margin:5px auto;
	border:2px solid #aaa;
	-moz-border-radius:3px;
}
.bouton a:hover, button:hover{
	background: #fff url(../images/gui/bar_top.png) repeat-x left bottom;
	color:#555555;
}
.small{
	font-size:.8em;
}
ul.tabs{
	height:35px;
}
ul.tabs li{
	float:left;
	border:1px solid #aaa;
	margin:3px;
	padding:5px 10px;
}
.trash{
    position:absolute;
    bottom:20px;
    right:20px;
    height:100px;
//    background:#ddd;
    width:100px;
    opacity:0.8;
    filter : alpha(opacity=80);
    -moz-opacity : 0.8;
    color:transparent;
    background:transparent url(../images/gui/trash.png) 2.5em center no-repeat;
    font-style:italic;
    text-shadow:0 1px 0 #ccc;
    font-size:1.2em;
    padding:5px;
    text-align:center;
}
.trash:hover {
//	cursor:pointer;
}
	.trash .t_desktop{
		margin-top: 70px; 
		width: 500px; 
		float: right; 
		text-align: right;
	}
.hover{
    -moz-box-shadow:0 0 0.5em #666;
    -moz-border-radius:15px;
    opacity:0.7;
    filter : alpha(opacity=70);
    -moz-opacity : 0.7;
    color:#505050;
    background-color:#cccccc
}
.deleted{
    -moz-box-shadow:0 0 0.5em #666;
    background-color:#505050;
    opacity:0.7;
    filter : alpha(opacity=70);
    -moz-opacity : 0.7;
    color:#aaaaaa;
}
#rightside, #infos_user_panel {
	display: none;
	position:absolute;
	background: #fff;
	color: #000;
	border: 1px solid #000;
}
#rightside {
	width: 250px;
	height: 80%;
	right: -205px;
	display: none;
	border-right:none;
	z-index: 11; /* affichage au dessus des fenetre */
	top: 32px; /* laisser la barre top des fenetres visible */
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-box-shadow:3px 3px 1em #666;
}
	#rightside .window_top{
		border-top-right-radius: 0;
		-moz-border-radius-topright: 0;
		-webkit-border-top-right-radius: 0;
	}	
	#rightside .window_content{
		background: #FFFFFF;
		padding-left:25px;
	}	
		#rightside .window_content ul{
			background: #FFFFFF;
			margin:0;
			padding:10px 0 10px 5px;
			border-left:1px solid #aaa;
			
		}	

	#rightside .window_slide_right,
	#rightside .window_slide_left{
		margin-left:-5px;
		width:16px;
	}	
	
	#rightside .myurl{
		display:none;
	}	

#infos_user_panel {
	width: 150px;
	height: 0;
	top: 0;
	right: 0;
	display: block;
	border-top:none;
	z-index: 3;
	border-radius:  0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-box-shadow:3px 3px 1em #666;
}
/* `lists
----------------------------------------------------------------------------------------------------*/
.ui-dialog{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow:3px 3px 1em #666;
	padding:1px;
	border:1px solid #505050;

}
.ui-dialog-content{
	background:transparent url(../images/gui/trans_black.png);
}
.ui-dialog-content form.jqd_form{
	background:transparent url(../images/gui/trans_black.png);
	color:#eeeeee;
	margin:0;
	padding:10px;
	font-size:.9em;
	}
.form.jqd_form{
	 	padding-left:5px;
	}
	form.jqd_form ul.list_add_link li{
	 	padding-left:5px;
	}
ul.list_add_link{
	margin: 20px 0;
 }
	ul.list_add_link li{
		padding: 5px;
		margin:0 10px;
		border-bottom:1px solid #ddd;
	}
		ul.list_add_link li a{
			color:#603833;
		}
	.my_links_list a.item{
	 	margin-left:25px;
	}
	.my_links_list span.myurl{
		margin-left:25px;
		color:#888888;
	 	display:none;
	 	font-size:.9em;
	}
	.my_links_list span.mytitle{
		margin-left:25px;
		color:#726664;
	 	display:none;
	 	font-size:.8em;
	}
#all_my_lists{
	font-size:1em;
	margin:20px 10px;
	padding-left:40px;
	padding-bottom:40px;
	border:1px solid #505050;
	border-radius:  15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-box-shadow:3px 3px .3em #666;
}	
/* `inettuts
----------------------------------------------------------------------------------------------------*/
#inettuts span.btn_url_save{
	float:right;
	display:block;
	cursor:pointer;
	background:#999;
	border:1px solid #a0a0a0;
	border-radius:  3px;
	-moz-border-radius:   3px;
	-webkit-border-radius:   3px;
	-moz-box-shadow:1px 1px .1em #666;
	margin-right:50px;
	padding:3px;
	color:#fff;
	display:none;
}	
#inettuts span.btn_url_save:hover {
	background:#ccc;
	border:1px solid #505050;
	border-radius:  3px;
	-moz-border-radius:   3px;
	-webkit-border-radius:   3px;
	-moz-box-shadow:1px 1px .1em #ccc;
	color:#999;
}
#inettuts a.link_out{
	color:#ff6600;
}
#inettuts span.rsstitle a{
	color:#ffcc33;
}
#inettuts span.rssdesc a{
	color:#aaaaaa;
}


#inettuts .rsslib
{
  font-family: Verdana, Georgia, Arial;
  font-size:90%;
  min-width:200px;
//  max-width:500px;
}

#inettuts .rsslib ul.rssitems
{
  list-style-type: none;
	border:1px solid #cccccc;
	border-radius:  15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	 margin:10px;
} 
#inettuts #columns .widget .widget-content ul.rsssite {
	font-size:1.1em;
	padding:5px;
}
#inettuts #columns .widget .widget-content ul.rsssite a {
	color:#ff9933;
	font-size:1.3em;
	font-wheight:bold;
	padding:5px;
}
#inettuts .rsslib ul li
{
  margin-bottom:8px;
} 
#inettuts .rsslib ul li a
{
  color:#ffcc33;
} 

#inettuts .rssdate a,#inettuts .rssdesc a
{
	color:#ccc;
}
	.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
	.ui-sortable-placeholder * { visibility: hidden; }

/* `divers
----------------------------------------------------------------------------------------------------*/
.large_win{
	width:1000px;
}
.normal_win{
	width:700px;
}
.small_win{
	width:400px;
}
#clock {
	color:#999999;
}

#jqd_login{
	margin-left:5px;
}
#otBuro_2{
	width:17px;
	height:16px;
	background:url(../images/icons/spaces.png) no-repeat;
	margin:5px 2px;
	line-height:16px;
	text-align:center;
	color:#ffffff;
	display:block;
	font-size:10px;
}
#otBuro_1 ul{
	background:#fff;
	border:1px solid #505050;
	border-radius:  0 0 5px 5px;
	-moz-border-radius:   0 0 5px 5px;
	-webkit-border-radius:   0 0 5px 5px;
	-moz-box-shadow:1px 1px .1em #666;
	border-top:0;
	width:auto;
	margin-top:-1px;
	padding-right:5px;
	display:none;
	z-index:10;
}
#otBuro_1 ul li{
	float:none;
}
#otBuro_1 ul li a{
	display:inline;
	float:left;
	padding:0 15px;
}
#otBuro_1 ul li a.space{
	background:url(../images/icons/checked.png) no-repeat -3px center;
}

span.check {
cursor:pointer;
float:left;
height:16px;
line-height:16px;
margin-left:10px;
margin-right:10px;
width:16px;
}
.clear_both{clear:both;}

.none{display:none;}
.block{display:block;}


.cross, .close, .checked, .unchecked, .plus, .link, .share, .share_ok, .info, .select, .selected, .search, .reload, .msg{
	background:url(../images/gui/jqui_icons.png) no-repeat;
	border-radius:  0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-box-shadow:1px 1px .1em #666;
	cursor:pointer;
}
.cross, .close, .plus, .link, .share, .share_ok, .info, .select, .selected, .search, .reload, .msg{
	width:16px;
	height:16px;
	margin-left:5px;
	position:absolute;
}
.cross{
	background-position:-128px -48px;
	cursor: move;
}
.close{
	background-position:-32px -192px;
	right:15px;
}
.bar_top_dark .close{
	right:5px;
}
.checked{
	background-position:-48px -112px;
	-moz-box-shadow:2px 2px .7em #666;
	background-color:#ffcc33;
}
.unchecked{
	background-position:-112px -144px;
}
.link{
	background-position: -238px -112px;
//	padding-left: 20px;
//	width:120px;
}
.plus{
	background-position: 0 -206px;
	margin-left:22px;
}
.search, .reload, .msg{
	position:relative;
	margin:4px 0;
	border-radius:  0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-box-shadow:none;
}
.reload{
	background-position: -64px -80px;
	margin:4px -15px 0 10px;
}	
.search, #bar_top li a.search{
	background:url(../images/gui/jqui_icons.png) no-repeat;
	background-position: -160px -112px;
	padding: 0;
	height:16px;
}
.msg, #bar_top li a.msg{
	background:url(../images/gui/jqui_icons.png) no-repeat;
	background-position: -80px -96px;
	padding: 0;
	height:16px;
}
.share{
	background-position: -32px -80px;
	right:35px;
}
.share_ok{
	background-position: -32px -80px;
	right:35px;
	background-color:#ffcc33;
	-moz-box-shadow:2px 2px .7em #666;
}
.info{
	background-position: -16px -144px;
	margin:0;
	top:5px;
}
.select{
	background-position:-112px -144px;
	margin:0 -25px;
}
.selected{
	background-position:-64px -144px;
	margin:0 -25px;
	background-color:#ffcc33;
	-moz-box-shadow:2px 2px .7em #666;
}
.help{
	padding-left:20px;
	margin:15px;
	color:#999;
	border:1px solid #aaaaaa;
	border-radius:  15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-box-shadow:3px 3px .3em #cccccc;
}
.help ul{
	padding-left:10px;
	font-size:.9em;
}
.help ul li{
	list-style: square;
	padding:2px 5px;
}
/* //////// */
// Recup lcs2.4
.orange{
	color:orange;
}
.ff8f00 {
	color:#ff8f00;
}
