body { margin : 10px;
	padding : 0px;
	font-family : Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size : 14px;
	background: #ffffff;
	color : #557;width: 95%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	/*background-image: url("images/fond.jpg");*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom left;

}

body, p, td, li, input, select, textarea 
{ 
	font-size: 14px; line-height: 1.3; 
}
h1 {
font-size : 1.9em;
}
h2, h3, h4, h5 {
	 font-family : Verdana,Arial,Geneva,Helvetica,sans-serif; margin: 0px; padding: 0px; 
}

a:link{color:#de7800; background-color: transparent;text-decoration : none;}
a:visited{color:#de7800; background-color: transparent;text-decoration : none;}
a:hover {color: #c71f1f; text-decoration : none; border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #c71f1f;}
a img {border: 0px;}
ul { list-style-image: url('images/fleche.png'); margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; }
ol { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; }
form { margin: 0px; padding: 0px; }
tt { color: Navy; }
hr { border: 0px; color: #ccc; /* Internet Explorer */ background-color: #ccc; height: 1px; }

/*Gestion de la position des différentes parties de la page wiki*/
/*** Content wrap ***/

#wrap {
	clear:both;
	padding:0;
}
/*** menu gauche ***/
#leftside {
	
	margin:0;
	padding:0 10px 0 10px;
	width:180px;
}

#leftside {background: #FFFFFF url(images/bas.gif) repeat-x bottom;
	float:left;
	margin-right:0px;
	margin-left: 0px;
	border: 1px solid #ccc;
}

/*** Contenu à droite, l apage wiki comme tel ***/
#content {margin:0 0px 0 220px;}

.page { background-color:#fff;
	border:1px solid #ccc;
	color:#2a2a2a;
	padding:15px 20px 5px;
}
.logosite { position: absolute; right: 16px;  top: 18px; left: auto; }
.wiki_name { float: left; margin: 0px 15px 0px 10px; font-size: 150%; }
.page_name { font-size: 150%; }

.error { color: #CC3333; font-weight: bold; }
.indent { margin-left: 40px; }
.additions { color: #008800; }
.deletions { color: #880000; }
.add { font-weight: bold; color: #c00; text-decoration: underline; }
.del { font-style: italic; color: #c00; text-decoration: line-through; }
.header { padding: 2px; padding-top: 2px; margin-bottom: 5px; margin-bottom: 5px;}

.page_haut { background : #FFFFFF url(images/haut.gif) repeat-x;
	 padding: 10px; border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
}
.prev_alert { 
	background-color: red; 
	color: white; 
	font-size: 1.7em; 
	font-weight: bold; 
	margin-bottom: 5px; 
}
.textarea{width:100%; _width:80%;}
.edit { height: 350px; float:right;background: #fafafa;font-size : 12px;color: #557; border-width: 1px; border-color: #9c9ec9; border-style: solid;}
.footer { 
	background: #FFFFFF url(images/bas.gif) repeat-x bottom; padding: 5px 10px; 
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top: 0px;
 }
.code { 
	background: #ffffff;
	border: solid #ccc 2px; 
	
	color: black; 
	font-size: 10px; 
	width: 100%; 
	height: 400px; 
	overflow: scroll; 
	padding: 3px; 
}
.revisioninfo { 
	color: #AAAAAA; 
	padding-bottom: 20px; 
}

.commentsheader { 
	background: #ffffff; padding: 2px 10px; 

	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
}
.comment { background: #ffffff;  padding: 10px; 
  	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
 }
.commentinfo { 
	color: #AAAAAA; 
}
.commentform { 
	background: #ffffff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
  	padding: 10px;
}

.copyright { 
	font-size: 11px; 
	color: #AAAAAA; 
	text-align: right; 
}
.copyright A { 
	color: #AAAAAA; 
}
.searchbox { 
	background: #ffffff; 
	 border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc; padding: 0px; margin: 0px; 
}
.debug { 
	font-size: 11px; 
	color: #ccc; 
}

.hr_clear { clear: both; visibility: hidden; }
.include_right { float: right; width: 17%; } /* bloc flotant à droite */
.include_left { float: left; width: 17%; } /* bloc flotant à gauche */
.include_solid_border { border: solid; padding: 2px; } /* encadré noir */
.include_gray_background { background-color: #f9f4f4; } /* fond gris */
.include_small_fonts { font-size: 0.8em; } /* petites polices */
.include_big_fonts { font-size: 1.2em; } /* grandes polces */
.include_height10em { height: 10em; overflow: scroll; } /* boite de 10em de hauteur, avec ascenseur */
.include_height15em { height: 15em; overflow: scroll; }
.include_height30em { height: 30em; overflow: scroll; }
.include_height60em { height: 60em; overflow: scroll; }

.trail_table { line-height: 30px;}
.trail_button { color: #993333; }

.header2 {
	padding: 2px; 
	padding-top: 0px;  
	margin-bottom: 4px;
}
input {
	border : 1px solid #ccc;
	background: #ffffff;
	color : #557;
	font-weight: bold;
	font-size : 12px;
	
}
fieldset {border: 0px; padding: 0;}
textarea {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
	background: #ffffff;
	color : #557;
	font-weight: bold;
	font-size : 12px;
	
}

.table-haut { 
	background: #ffffff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
	padding: 10px;
 }
div.math_inline { display: inline; }
div.math_center { text-align: center; }
.navigation {
	padding: 2px; border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9c9ec9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9c9ec9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9c9ec9;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9c9ec9;
	background: #fafafa ;
}
/*Pour les ajouts de couleurs.*/
.rouge {color:red;} 
.vert {color:#33ff33;}
.bleu {color:blue;}
.surbrillance {background-color:yellow;}
.centrer {text-align:center;}
.pointille {border:2px dotted red;}

.attach_margin05em { margin: 0.5em;}             /* marge de 0.5 em autour de l'image*/
.attach_margin1em { margin: 1em;}                /* marge de 1em autour de l'image*/
.attach_left {float: left;}                      /* bloc flotant à gauche */
.attach_right {float: right;}                    /* bloc flotant à droite */
.attach_noborder {border-width: 0px;}            /* pas de bordure */
.attach_vmiddle {vertical-align: text-bottom;}   /* aligenement vertical au milieu */

.tableFM {border: thin solid Black; width: 100%;  }
.tableFM THEAD { background-color: Silver; font-weight: bold; text-align: center;   }
.tableFM TFOOT { background-color: Silver; font-weight: bold; text-align: left;   }
.tableFM TBODY TR { text-align: center;  }
.tableFMCol1 { background-color: Aqua; }
.tableFMCol2 { background-color: Yellow; }

.buttons { background: #ffffff; border: 1px solid #f2f0f0; margin: 0px; float:left; }

.raise{ 
border-top: 1px solid buttonhighlight; border-left: 1px solid buttonhighlight; border-bottom: 1px solid buttonshadow; border-right: 1px solid buttonshadow; background: #f2f0f0 url("images/fond.png") repeat fixed 0 0; margin:0px;    float:left; 
}

.press { 
border-top: 1px solid buttonshadow; border-left: 1px solid buttonshadow; border-bottom: 1px solid buttonhighlight; border-right: 1px solid buttonhighlight; background: #f2f0f0 url("images/fond.png") repeat fixed 0 0; margin:0px; float:left; 
}

/* ci dessous les petits champs */
.ACsearchbox { background: #FFFFF8; border: 0px; border-bottom: 1px solid #CCCCAA; padding: 0px; margin: 0px; font-size: 10px; }
.texteChampsImage {font-size: 10px; }
#toolbar { margin: 0px; width: 560px; padding: 1px; height:20px; background: #f2f0f0 url("images/fond.png") repeat fixed 0 0; border-top: 1px solid buttonhighlight; border-left: 1px solid buttonhighlight; border-bottom: 1px solid buttonshadow; border-right: 1px solid buttonshadow; text-align:left; }

.image_left {float: left;} /* bloc flotant à gauche */
.image_right {float: right;} /* bloc flotant à droite */
.image_center {text-align:center;} /* bloc centré */

.floatr {float: right; width: 48%; margin: 0.5%; padding: 0.5%; background: #EEE;}
.commenteditlink { float: right; margin: 2px; }
.footnote {background-color: #eee; padding: 5px;}
.souligne {text-decoration: underline; }
/* sidenote.css */
/* Contains css for tip, note and warn actions. */

/* postit note-style information box */
#note {
        font-size: 10pt;
        float: right;
        width: 200px;
        border: 1px solid #AAAAAA;
        margin: -10px 10px 10px 10px;
        padding: 0px;
        background-color: #FFF900;
        text-align: justify;
        vertical-align: top;
}

#note hr {
        height: 1px;
        border: 1px solid #AAAAAA;
        width: 100%;
}

#note .title {
        text-align: center;
        font-weight: bold;
        background-color: #EEE800;
        border-bottom: 1px solid #AAAAAA;

}

#note #text {
        padding: 4px;
        
}

/*Gestion tableau csv*/
.csvtable {
	border: thin solid #a6a6a6;
	border-collapse: collapse;
	text-align: center;
}

.csvtable th {
	font-family: monospace;
	border: thin solid #a6a6a6;
	padding: 5px;
	background-color: #dddddd; }

.csvtable td {
	font-family: monospace;
	border: thin solid #a6a6a6;
	padding: 5px;
	background-color: #fff; 
	color: #006;
}
.question {color:#c71f1f;font-weight: bold;}
.commentspam { color:#c71f1f; background-color: yellow; padding: 10px; border-left:1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #EEEEEE; }

/*Action toc*/
#sommaire {float: right; border: 1px solid #ccc; padding: 10px; margin: 10px; background: #eee;}
#sommaire a {color:#505050; background-color: transparent;text-decoration:none;border-bottom: 0px dotted #505050;}
div.toc { margin-bottom: 0px; padding-bottom: 0px; }
div.toc1 { margin-left: 1em; }
div.toc1 img { border: 0px; }
div.toc2 { margin-left: 2.5em; }
div.toc2 img { border: 0px; }
div.toc3 { margin-left: 3.9em; }
div.toc3 img { border: 0px; }
div.toc4 { margin-left: 5.1em; }
div.toc4 img { border: 0px; }
div.toc5 { margin-left: 6.5em; }
div.toc5 img { border: 0px; }

.grabcodebutton {margin-top: 10px;}
.form {padding: 0px;}

.commentspam { color:#c71f1f; background-color: yellow; padding: 10px; border-left:1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #EEEEEE; }
