* { margin:0; padding:0; }
body, div, span, p, a, img, ul, ol, li, table, th, tr, td, form, fieldset, legend, dl, dt, dd, blockquote, applet, object { border:0; }
body { 
  padding: 0 0 18px 0; 
  background: #fff url('themes/img_6/bg.jpg') repeat-x; 
  font: 0.8em/1.5 "arial",sans-serif; 
  color: #333; 
  text-align: center; 
}

/* obecne odkazy --------------------------------------------------------------- */
a {color:#095799;}
a:link {color:#095799;}
a:hover {color:#095799; text-decoration: none;}

/* nadpisy --------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { margin:15px 0 10px 0; }
h1 { font-size:200%; }  h1#logo { font-size:280%; font-weight: normal;}
h2 { font-size:190%; font-weight: normal; line-height: 24px; }
h3 { font-size:100%; margin-top: 20px; border-bottom: 1px solid #dfdfdf; padding-bottom: 5px;;margin-right: 15px;} #panel-left h3 { margin-top: 15px; padding-bottom: 0; font-size: 160%; font-weight: normal; border: none;}
h4 { font-size:120%; }
h5 { font-size:100%; }

/* layout ---------------------------------------------------------------------- */
#layout { 
  width:800px; 
  margin:0 auto; 
  text-align:left; 
}
  #container { 
  background: #fff;
  }
  
  #obsah {
   
  }
  	/* hlavicka ------------------------------------------------------------------ */
  	#header { position:relative; background: #2a9ac3 url('themes/img_6/header.jpg') no-repeat; }
  
      #logo {

        position: relative; 
        overflow: hidden; 
        height: 132px;
        margin: 0;
        line-height: 120px;
        text-align: left;
      }
      #logo a{
        display: block;
        color: #fff;
        text-decoration: none;
        
      }
      #logo span {
        display: block; 
        position: absolute; 
        left: 0; top: 0; 
        z-index: 1; 
        width: 250px; height: 120px;
        background: url("themes/img_6/logo.jpg") 0 0 no-repeat; 
        cursor: pointer;
      }
      
      #slogan{
        position: absolute;
        left: 270px;
        line-height: 120px;
        display: block;
        height: 120px;
        top: 0;
      }
        
    /* horizontalni navigace --------------------------------------------------- */
    #nav {position:relative; z-index:2; border-top: 0;}
      #nav ul {margin:0; padding:0; list-style:none;}
      	#nav ul li {float:left; _float: none; display:inline; margin:0; padding:0; background: url('themes/img_6/nav.jpg') no-repeat;}
      	#nav ul li a {
      	  font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
      	  color: #fff;
      	  font-size: 95%;
      	  font-weight: bold;
          display: block; 
          float: left; /*\*/ float:none; 
          padding: 16px 22px;
          text-align: center;
        }
        #nav ul li a:hover {
          text-decoration: none;
          
        }
      	#first {
        background: none !important;}
  
  
  
    .content {
      float: right; 
      padding: 0 0 0 0px; margin-top: 15px;
      width:620px;
      z-index: 10;
      
    }
    .content .in{
      padding: 8px 18px 0 22px;border-left: 1px solid #e3e3e3;
    }
  
  	/* Sloupce ----------------------------------------------------------------- */
  	#panel-left { float:left; width:170px;}
  	.panel .in { padding: 0px 5px 10px 20px;  }
  
  
  	/* paticka ----------------------------------------------------------------- */
  	#footer {
      clear:both;
      height: 27px;
      background: url('themes/img_6/footer.jpg') no-repeat;
      padding: 17px 16px 13px 16px;
      color: #676767;
      margin-top: 10px;
    }
      
    #footer p { margin:0; padding-top:10px; }




/* odstavce -------------------------------------------------------------------- */
p { margin:15px 0; line-height: 25px; font-size: 12px;}


/* seznamy --------------------------------------------------------------------- */
ul, ol { display:block; margin:15px 0 15px 40px; }
ul ul, ul ul ul, ol ol, ol ol ol { margin:0; margin-left:20px; }
ol { list-style-type:decimal; }
ol ol { list-style-type:upper-alpha; }
ol ol ol {list-style-type:lower-alpha; }
li { display:list-item; margin-bottom: 6px;}
ul li a { text-decoration:underline; }

#panel-left ul{ 
margin: 0 !important; padding: 0 !important;
list-style-type: none; 
font-size: 95%;
}

#panel-left li{ 
list-style-type: none; background: url('themes/img_6/li.jpg') no-repeat  3px 6px; padding-left: 20px; margin-bottom: 6px;}

/* definice -------------------------------------------------------------------- */
dl { margin:15px 0; }
dt { font-weight:bold; }
dd { margin-left:30px; }

/* ostatni --------------------------------------------------------------------- */
fieldset { margin:15px 0; padding:10px; border:1px solid #CCC; }
legend { margin-left:10px; font-size:100%; font-weight:bold; color:#000; }
abbr, acronym, .help { border-bottom:1px dotted #CCC; cursor:help; }
blockquote { margin:15px 20px; font-style:italic; }
del, .del { text-decoration:line-through; }
strong, .strong { font-weight:bold; }
cite, em, q, var { font-style:italic; }
code, kbd, samp  {font-family:monospace; font-size:110%; }
hr { display:block; height:1px; margin:10px 0; padding:0; border:0 solid #CCC; background:#CCC; color:#CCC;} 
.clear {clear: both;}
.f-left {float:left;}
.f-right {float:right;}
.a-left, tr.a-left td {text-align:left;}
.a-center, tr.a-center td {text-align:center;}
.a-right, tr.a-right td {text-align:right;}
.a-justify {text-align:justify;}
.va-top {vertical-align:top;}
.va-middle {vertical-align:middle;}
.va-bottom {vertical-align:bottom;}
.clear { clear:both; }
.box { min-height:1px; }
.box:after { display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:"."; }
.noscreen { display:none; }
.mleft10 { margin-left: 10px; }
.mright10 { margin-right: 10px; }
.mtop10 { margin-top: 10px; }
.mbottom10 { margin-bottom: 10px; }
.mtop0 { margin-top: 0;}

a img {
  border: 1px solid #dadada;
}

a:hover img {
  border: 1px solid #bbbbbb;
}

.thumbnail
{
float: left;
margin: 0 14px 5px 0;
}

/* univerzalni prvky ------------------------------------------------------------ */
input.small{
  width: 50px;
}
input.normal{
  width: 146px;
}
.bigger {font-size:115%;}
.smaller {font-size:85%;}

.high {color:#00F;}
.nonhigh {color:#777;}

.foto{  display: block; border: 3px solid #ddd;}



.page { background-color:#fff;
	
	color:#557;
	padding:15px 20px 5px;
}
.logosite { position: absolute; right: 16px;  top: 18px; left: auto; }
.wiki_name { float: left; margin: 0px 15px 0px 10px; font-size: 150%; }
.page_name { font-size: 150%; }

.error { color: #CC3333; font-weight: bold; }
.indent { margin-left: 40px; }
.additions { color: #008800; }
.deletions { color: #880000; }
.add { font-weight: bold; color: #c00; text-decoration: underline; }
.del { font-style: italic; color: #c00; text-decoration: line-through; }
.header { padding: 2px; padding-top: 2px; margin-bottom: 5px; margin-bottom: 5px;}

.page_haut { background : #FFFFFF url(themes/img_3/haut.gif) repeat-x;
	 padding: 10px; border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
}
.prev_alert { 
	background-color: red; 
	color: white; 
	font-size: 1.7em; 
	font-weight: bold; 
	margin-bottom: 5px; 
}
.textarea{width:100%;}
.edit {font-family : Verdana,Arial,Geneva,Helvetica,sans-serif;width:100%;  height: 100%; float:right;background: #fafafa;font-size : 12px;color: #557; border-width: 1px; border-color: #9c9ec9; border-style: solid;}
.footer { 
	background: #FFFFFF url(themes/img_3/bas.gif) repeat-x bottom; padding: 5px 10px; 
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top: 0px;
 }
.code { 
	background: #ffffff;
	border: solid #ccc 2px; 
	
	color: black; 
	font-size: 10px; 
	width: 100%; 
	height: 400px; 
	overflow: scroll; 
	padding: 3px; 
}
.revisioninfo { 
	color: #AAAAAA; 
	padding-bottom: 20px; 
}

.commentsheader { 
margin-top: 25px;
	background: #ffffff; padding: 2px 10px; 
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
}
.comment { background: #ffffff;  padding: 10px; 
  	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
 }
.commentinfo { 
	color: #AAAAAA; 
}
.commentform { 
	background: #ffffff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
  	padding: 10px;
}

.copyright { 
	font-size: 11px; 
	color: #AAAAAA; 
	text-align: right; 
}
.copyright A { 
	color: #AAAAAA; 
}
.searchbox { 
	background: #ffffff; 
	 border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc; padding: 0px; margin: 0px; 
}
.debug { 
	font-size: 11px; 
	color: #ccc; 
}

.hr_clear { clear: both; visibility: hidden; }
.include_right { float: right; width: 17%; } /* bloc flotant à droite */
.include_left { float: left; width: 17%; } /* bloc flotant à gauche */
.include_solid_border { border: solid; padding: 2px; } /* encadré noir */
.include_gray_background { background-color: #f9f4f4; } /* fond gris */
.include_small_fonts { font-size: 0.8em; } /* petites polices */
.include_big_fonts { font-size: 1.2em; } /* grandes polces */
.include_height10em { height: 10em; overflow: scroll; } /* boite de 10em de hauteur, avec ascenseur */
.include_height15em { height: 15em; overflow: scroll; }
.include_height30em { height: 30em; overflow: scroll; }
.include_height60em { height: 60em; overflow: scroll; }

.trail_table { line-height: 30px;}
.trail_button { color: #993333; }

.header2 {
	padding: 2px; 
	padding-top: 0px;  
	margin-bottom: 4px;
}
input {
	border : 1px solid #ccc;
	background: #ffffff;
	color : #557;
	font-weight: bold;
	font-size : 12px;
	
}
fieldset {border: 0px; padding: 0;}
textarea {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
	background: #ffffff;
	color : #557;
	font-weight: bold;
	font-size : 12px;
	
}

.table-haut { 
	background: #ffffff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
	padding: 10px;
 }
div.math_inline { display: inline; }
div.math_center { text-align: center; }
.navigation {
	padding: 2px; border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9c9ec9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9c9ec9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9c9ec9;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9c9ec9;
	background: #fafafa ;
}
/*Pour les ajouts de couleurs.*/
.rouge {color:red;} 
.vert {color:#33ff33;}
.bleu {color:blue;}
.surbrillance {background-color:yellow;}
.centrer {text-align:center;}
.pointille {border:2px dotted red;}

.attach_margin05em { margin: 0.5em;}             /* marge de 0.5 em autour de l'image*/
.attach_margin1em { margin: 1em;}                /* marge de 1em autour de l'image*/
.attach_left {float: left;}                      /* bloc flotant à gauche */
.attach_right {float: right;}                    /* bloc flotant à droite */
.attach_noborder {border-width: 0px;}            /* pas de bordure */
.attach_vmiddle {vertical-align: text-bottom;}   /* aligenement vertical au milieu */
.attach_center {
display:block;
width:100%;
margin:auto;
    text-align:center;
}
.tableFM {border: thin solid Black; width: 100%;  }
.tableFM THEAD { background-color: Silver; font-weight: bold; text-align: center;   }
.tableFM TFOOT { background-color: Silver; font-weight: bold; text-align: left;   }
.tableFM TBODY TR { text-align: center;  }
.tableFMCol1 { background-color: Aqua; }
.tableFMCol2 { background-color: Yellow; }

.buttons { background: #ffffff; border: 1px solid #f2f0f0; margin: 0px; float:left; }

.raise{ 
border-top: 1px solid buttonhighlight; border-left: 1px solid buttonhighlight; border-bottom: 1px solid buttonshadow; border-right: 1px solid buttonshadow;  margin:0px;    float:left; 
}

.press { 
border-top: 1px solid buttonshadow; border-left: 1px solid buttonshadow; border-bottom: 1px solid buttonhighlight; border-right: 1px solid buttonhighlight;  margin:0px; float:left; 
}

/* ci dessous les petits champs */
.ACsearchbox { background: #FFFFF8; border: 0px; border-bottom: 1px solid #CCCCAA; padding: 0px; margin: 0px; font-size: 10px; }
.texteChampsImage {font-size: 10px; }
#toolbar { margin: 0px; width: 560px; padding: 1px; height:20px; background: #f2f0f0; border-top: 1px solid buttonhighlight; border-left: 1px solid buttonhighlight; border-bottom: 1px solid buttonshadow; border-right: 1px solid buttonshadow; text-align:left; }

.image_left {float: left;} /* bloc flotant à gauche */
.image_right {float: right;} /* bloc flotant à droite */
.image_center {text-align:center;} /* bloc centré */

.floatr {float: right; width: 48%; margin: 0.5%; padding: 0.5%; background: #EEE;}
.commenteditlink { float: right; margin: 2px; }
.footnote {background-color: #eee; padding: 5px;}
.souligne {text-decoration: underline; }
/* sidenote.css */
/* Contains css for tip, note and warn actions. */

/* postit note-style information box */
#note {
        font-size: 10pt;
        float: right;
        width: 200px;
        border: 1px solid #AAAAAA;
        margin: -10px 10px 10px 10px;
        padding: 0px;
        background-color: #FFF900;
        text-align: justify;
        vertical-align: top;
}

#note hr {
        height: 1px;
        border: 1px solid #AAAAAA;
        width: 100%;
}

#note .title {
        text-align: center;
        font-weight: bold;
        background-color: #EEE800;
        border-bottom: 1px solid #AAAAAA;

}

#note #text {
        padding: 4px;
        
}

/*Gestion tableau csv*/
.csvtable {
	border: thin solid #a6a6a6;
	border-collapse: collapse;
	text-align: center;
}

.csvtable th {
	font-family: monospace;
	border: thin solid #a6a6a6;
	padding: 5px;
	background-color: #dddddd; }

.csvtable td {
	font-family: monospace;
	border: thin solid #a6a6a6;
	padding: 5px;
	background-color: #fff; 
	color: #006;
}
.question {color:#c71f1f;font-weight: bold;}
.commentspam { color:#c71f1f; background-color: yellow; padding: 10px; border-left:1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #EEEEEE; }

/*Action toc*/
#sommaire {float: right; border: 1px solid #ccc; padding: 10px; margin: 10px; background: #eee;}
#sommaire a {color:#505050; background-color: transparent;text-decoration:none;border-bottom: 0px dotted #505050;}
div.toc { margin-bottom: 0px; padding-bottom: 0px; }
div.toc1 { margin-left: 1em; }
div.toc1 img { border: 0px; }
div.toc2 { margin-left: 2.5em; }
div.toc2 img { border: 0px; }
div.toc3 { margin-left: 3.9em; }
div.toc3 img { border: 0px; }
div.toc4 { margin-left: 5.1em; }
div.toc4 img { border: 0px; }
div.toc5 { margin-left: 6.5em; }
div.toc5 img { border: 0px; }

.grabcodebutton {margin-top: 10px;}
.form {padding: 0px;}

/*Infobulle-----------------------------------------*/

a.info_bulle
{				
  color           : #2F368A;
  
  text-decoration : none; 
  
  padding         : 2px 16px 2px 2px; /*Définition des marges intérieures de notre lien */
  
  /* Définition de l'arrière plan de notre lien */
  background      : transparent url('images/comment.gif') no-repeat right center;
  
  position        : relative; /* Indispensable pour le bon positionnement de l'info-bulle */ 
}  
 
a.info_bulle:hover 
{
  border          : 0;  /* ligne qui corrige le bug d'IE6 et inférieur */
} 

/* Rend invisible tout notre bloc span */
a.info_bulle span.info_bulle 
{								   
  position   :  absolute;
  top        :  -2000em;
  left       :  -2000em;
  width      :  1px;
  height     :  1px;
  overflow   :  hidden; 
} 

/* Rend visible tout notre bloc span et lui attribue une taille */
a.info_bulle:hover span.info_bulle, a.info_bulle:focus span.info_bulle
{
  top:2em;
  left       :  auto;
  width      :  220px;
  height     :  auto;
  overflow   :  visible;
}  

span.headerinfo
{
   display         : block; 
   height          : 76px;  /* Hauteur correspondant à celle de notre image */
   line-height     : 820%;  /* Propriété qui centrera le texte verticalement */
   text-align      : center;
   background      : transparent url('images/top.png') no-repeat 0 0; 
   font-size       : 15px; 
   font-weight     : bold;
} 

span.contentinfo
{
   display     : block; 
   background  : transparent url('images/milieu.png') repeat-y;
   padding     : 0 20px;
} 

span.footerinfo
{
   display     : block; 
   height      : 29px; 
   background  : url('images/bot.png') no-repeat bottom left; 
   font-size   : 0; /* Corrige l'espacement inutile sous IE */
} 
