/*
#fdb218 -> orange lcs
*/

html,body{margin:0;padding:0}
body{background: #757D88;color:#036}
a,a:visited,a:active{text-decoration:none;color:#369}
a:hover{color:#F60}
a img{border:0}
div#header{background: #595D66}
div#entete h1, div#entete .info{color: #FFF}

ul#nav a{background: #999;text-decoration:none;color: #FFC}
ul#nav a:hover{background: #DDD;color: #336699}
ul#nav li.activelink a,ul#nav li.activelink a:hover{background: #FFF;color: #003}
ul#nav a.deconnect{background: #CCC; color: #003}
ul#nav a:hover.deconnect{background: #fff; color: #c00}
div#container{background:#FFF}

div.comments,ul#intro,ul#intro_2{background:transparent}
ul#intro li,ul.blocsjumo li,ul#intro_2 li,ul#intro_ifade li{background: #CCC}
ul#intro h3,ul.blocsjumo h3,ul#intro_2 h3,ul#intro_ifade h3{color: #369}
ul#intro p,ul.blocsjumo p, ul#intro dl,ul.blocsjumo dl,ul#intro_2 p,ul#intro_2 dl,ul#intro_ifade p,ul#intro_ifade dl{background:#FFF;}

div#content{}
div#content h2{color: #007BC4;}

div#minical{background:#fff;}/*fond grande boite - mini-calendrier*/
div#minical table td {border-color:#369}
div#minical table td a{background:#CCC;}

div#content dl.bloc dt.un a {color:#036}
div#content dl.bloc dt.deux a {color:#369}
div#content dl.bloc dt.annonce,div#content dl.bloc dt.cartouche{background: #FC3;color: #369;}
div#content dl.bloc dd.annonce,div#content dl.bloc dd.cartouche{background: #FE9;color: #369;}
div#content dl.bloc dt.un,div#content dl.bloc dd.un,div#content dl.bloc dt.cartouche p.soustitre {background: #eee;color: #369;}/*listes d articles un sur deux*/
div#content dl.bloc dt.deux,div#content dl.bloc dd.deux,div#content dl.bloc dt.cartouche p.surtitre {background: #ddd;color: #036;}/*listes d articles deux sur un*/
div#content dl.bloc div.suite{color: #006A35;}
div#content h3.titre-list{background:#ddd}
div.notes{background:#eee}

div.date{background: #369;color:#FC3;}

div.comments div{}
div.comments div.odd{background:#DAE6FE}

div.bulle cite {background: transparent url(FlecheBulle.gif) no-repeat 180px 0;}

div#side,div#side2{background:#CCC}
div#side div.rubriques h3.menu-titre,div#side2 div.rubriques h3.menu-titre,div#documents_joints h3{color:#369;background:#fc3}
div#side div.rubriques ul,div#side div.rubriques ul ul,div#side div.rubriques dl,div#side2 div.rubriques ul,div#side2 div.rubriques dl{background:#FFF;}
div#side div.rubriques ul.menu li a,div#side2 div.rubriques ul.menu li a{border-bottom:1px solid #fc3;border-left:4px solid #fc3}
div#side div.rubriques ul.menu li a:hover,div#side2 div.rubriques ul.menu li a:hover{border-bottom:1px solid #120a02;border-left:4px solid #120a02;background:#FC3;color:#120a02}
div#side div.rubriques ul.menu li a.on,div#side2 div.rubriques ul.menu li a.on{border-bottom:1px solid #FC3;border-left:0;border-right:4px solid #FC3;background:#120a02;color:#FC3}

#myAccordion dt,#acc dt{border-top: 2px solid #ccc;border-bottom: 2px solid #bbb;background:#F4F4F4}
#myAccordion dd,#acc dd{}
#myAccordion dd ul li{}
#myAccordion dt.myAccordionHover{}
#myAccordion dt.myAccordionActive{}

div#footer{color: #FFF;background: #595D66 url(logo_lcs_50.png)  no-repeat;}/*#586695*/
div#footer p a,div#footer p a:visited,div#copy p a,div#copy p a:visited{color:#FFF}
div#copy{color: #FFF;background: #595D66;}
