html,body{margin:0;padding:0}
body{font: 85%/1.3 sans-serif;text-align: center;padding-bottom:1.48em;line-height:1.45em}/*soit 10px=.74em (770/57)*/
p{margin-top:0}
h1,h2,h3{font: normal normal 200% sans-serif}
h2{font-size:160%}
h3{font-size:120%}
ul,ul li{margin:0;padding:0;list-style:none}


div#header{width:100%;overflow:hidden}
div#header h1,div#menu{width:57em;margin:0 auto;text-align:left}
div#header h1{padding: .22em 0 .74em 4em;;width:90%}
div#header img{float:left;margin:0;padding:0}

div#container{width:57em;margin:0 auto .74em;padding:1.48em 0 0;text-align:left}

div#hierarchie{font-size:.9em;font-weight:bold;margin-left:2em;line-height:1em}

ul#nav,ul#nav li{list-style-type:none;margin:0;padding:0;z-index:10}
ul#nav{float:right;font-size: 80%;line-height:1.2em;}
ul#nav li{float:left;margin-left:.22em;text-align: center}
ul#nav a{float:left;width:7.05em;padding:0 0 .5em 0;margin-bottom:.16em;text-decoration:none}
ul#nav li.activelink a,ul#nav li.activelink a:hover{margin-bottom:0;padding:0 0 .66em 0;}
ul#nav a.deconnect{width:10em;font-weight:bold}
div#content{float:right;display:inline;width:41em;margin:0 .37em}

div#content dl.bloc {margin:0;padding:0 0 10px;}
div#content dl.bloc dt {margin:5px 5px 2px 5px;padding:5px 2px  4px;font-weight:bold;}
div#content dl.bloc dt em {font-size:.8em;font-weight:normal;}
div#content dl.bloc dt em.hierarchie {float:right;}
div#content dl.bloc dd {margin:0 5px;padding:2px 8px 4px 30px;	font-size:90%;}
div#content dl.bloc dd.annonce{margin:0 5px 5px 5px;padding:2px 8px 4px 4px;	}
div#content dl.bloc dt.annonce,div#content dl.bloc dt.cartouche{padding-left:10px;font-size:1.2em}
div#content dl.bloc dt.cartouche p.soustitre,div#content dl.bloc dt.cartouche p.surtitre{padding-left:10px;font-size:.8em;margin-top:5px; margin-right:10px}
div#content dl.bloc dd.cartouche em{font-size:.9em;margin-right:5em;}
div#content dl.bloc div.suite{font-size:.9em;font-weight:bold;height:1em;text-align:right;margin:.3em}
div#content dl.bloc dd.tags{font-size:.85em;font-style:italic;margin: 0 .74em}
div.notes{margin:0 2em;padding:1em;font-size:.9em}

div#troiscols{float:right;width:25.8em;display:inline}

ul#intro,ul#intro li,ul#intro_2,ul#intro_2 li,ul.blocsjumo,ul.blocsjumo li,ul#intro_ifade,ul#intro_ifade li{list-style-type:none;margin:0;padding:0}
ul#intro,ul#intro_2,ul.blocsjumo,ul#intro_ifade{width:100%;overflow:hidden;margin-bottom:1.48em;line-height:1em}
ul#intro li,ul#intro_2 li,ul.blocsjumo li,ul#intro_ifade li{float:left;width:19.5em;margin:0 0 0 .5em;padding:0}
ul#intro li#boite_d,ul#intro_2 li#boite_d,ul#intro_ifade li#boite_d{margin-right:0}
ul#intro p,ul#intro_2 p,ul.blocsjumo p,ul#intro_ifade p,ul#intro h3,ul#intro dl,ul.blocsjumo h3,ul.blocsjumo dl,ul#intro_2 h3,ul#intro_2 dl,ul#intro_ifade h3,ul#intro_ifade dl{margin: .37em;padding: 0 .74em .74em .74em}
ul#intro h3,ul#intro_2 h3,ul.blocsjumo h3,ul#intro_ifade h3{padding:0 0 0 5px;font-weight:bold;font-size:1.1em;line-height:.9em}
ul#intro dt,ul#intro_2 dt,ul.blocsjumo dt,ul#intro_ifade dt{margin-top:.37em}
ul#intro dd,ul#intro_2 dd,ul.blocsjumo dd,ul#intro_ifade dd{margin-bottom:.37em}
ul#intro img,ul#intro_2 img,ul#intro_ifade img{vertical-align:middle}

div#content h2{margin: .74em 0}

div#gdboite{padding:0 5px ;margin:0;}
div#edito{margin:0;padding:0 10px;text-align:justify;}
div#edito h2 a{margin:0;padding:0;line-height:.5em;font-size:1.5em;text-transform:uppercase;}
div#edito span.logo{float:right;margin:0 0 5px 10px}

div#content div.date{float:left;width:5em;padding:.5em 0;text-align:center;margin:.74em .74em .74em 1.2em ;font-size: 80%;line-height:1.2em}
div#content div.date span{display:block;font-size: 150%;font-weight:bold}

div#content div.site_rss span{margin:0 1.5em}
div#content div.site_rss span img{width:36px;height:36px;vertical-align:middle}

div.comments div{margin-bottom:.74em}
div.comments p{padding: .74em;margin:0}

div#carousel{width:500px;height:320px;margin:10px 0 0 0;}
div#carousel a{position:absolute;	width:120px;}
div#content dd.krousl{margin-left:0;padding:0}

dd#rotator{cursor: pointer;overflow: hidden;margin: 10px auto 10px;position: relative;width: 250px;height:250px;}
dd#rotator img{border: 0;cursor: pointer;width: 250px;}
dd.slideshow{margin:0;padding:0}

div.bulle {width: auto;font-size: 1em;margin-bottom: 24px;}
div.bulle blockquote {margin: 0px;padding: 0px;border: 1px solid #c9c2c1;background-color: #fff;}
div.bulle blockquote p {margin: 10px;padding: 0px;}
div.bulle cite {position: relative;margin: 0px;padding: 7px 0px 0px 15px;top: 1px;font-style: normal;font-size: .82em}

ul.plan, ul.plan li{margin-left:10px}

div#side,div#side2{float:left;display:inline;width: 13.5em;margin:0 .74em .74em .74em;line-height:1em}
div#side2{margin:0 0 .74em .37em}
div#side p{margin:.37em 0 .74em;padding: 0 .74em}
div#side div{margin: 0 0 .74em;padding: .74em 0}

div#side div.rubriques,div#side2 div.rubriques{margin:5px 5px 15px 5px;padding:0}
div#side div.rubriques h3.menu-titre,div#side2 div.rubriques h3.menu-titre{font-size:1.1em;font-weight:bold;margin:0;padding:.3em 0;text-align:center}
div#side div.rubriques ul.menu,div#side2 div.rubriques ul.menu{padding:5px;font-size:.85em;}
div#side div.rubriques dl,div#side2 div.rubriques dl,div#side div.rubriques dl.menu dt,div#side2 div.rubriques dl.menu dt,div#side div.rubriques dl.menu dd ,div#side2 div.rubriques dl.menu dd {margin:0;padding:0}
div#side div.rubriques dl.menu dt.titre ,div#side2 div.rubriques dl.menu dt.titre {text-align:center}
div#side div.rubriques ul.menu li a,div#side2 div.rubriques ul.menu li a,div#side div.rubriques ul.menu li li a,div#side2 div.rubriques ul.menu li li a,div#side div.rubriques dt.menu,div#side2 div.rubriques dt.menu{display:block;margin:5px;padding:3px 0 1px 5px;font-weight:bold;width:auto}
div#side div.rubriques ul.menu li a,div#side2 div.rubriques ul.menu li a{width:auto}
div#side div.rubriques ul.menu li li a,div#side2 div.rubriques ul.menu li li a{width:auto}
div#side div.rubriques ul.menu ul,div#side2 div.rubriques ul.menu ul{margin-left:5px}
div#side div.rubriques ul.evenements li a,div#side2 div.rubriques ul.evenements li a{font-size:1em;}

dl#breves dt img,dl#sites dt img,dl#podcasts dt img,dl#auteurs dt img,dl#messages dt img{width:16px;height:16px}
dl#breves dt,dl#sites dt,dl#podcasts dt,dl#auteurs dt,dl#messages dt,dl#meme_rub dt,dl.menu dt{margin:0 .37em 0 .37em;font-size:.95em}
dl#breves dd,dl#sites dd,dl#podcasts dd,dl#auteurs dd,dl#messages dd,dl#meme_rub dd,dl.menu dd{margin:0 5px;font-size:.85em}
ul#intro li dl.demi_boite{margin-top:.74em}
ul#intro li dl.demi_boite dd{margin-bottom:1em;border-bottom:1px solid #ddd}

dt.titre_boite{font-size:.8em;text-align:center;font-weight:bold;font-style:italic}

div#minical{margin-bottom:.74em;line-height:1em}
div#minical h4{margin:0;padding:0}
div#minical table{width:100%;font-family:sans-serif; font-size:.7em; 
	text-align:center;border-width:1px;border-style:solid;border-collapse:collapse}
div#minical table td{border-width:1px;border-style:solid;}
div#minical table td a{padding:1px 2px}
div#minical ul.evenements,div#minical ul.evenements li a{display:block;list-style:none;margin:0;padding:0;font-size:.8em}
div#minical ul.evenements li a{margin:.37em;padding:0 .37em}

div#minical img{vertical-align:middle;}

#evenements div#minical table {font-size:1.5em}
#evenements div#minical table tbody{font-weight:bold}
#evenements div#minical table tr{height:60px}
#evenements div#minical table thead tr{height:30px}
#evenements div#minical caption{background:#fc3;color:#369;margin:0;padding:.5em 0}
#evenements div#minical table td a{padding:.7em .5em; background:#369;color:#ddd}

dd.pagination{font-size:.9em;text-align: center;margin:2em .37em .37em 3em;line-height:1em} 	
dd.pagination .ligne1 {float:right;font-size:.8em;font-style:italic;}
dd.pagination .ligne2 {text-align: center;}

#myAccordion dt,#acc dt{font-weight:bold;text-align:center;cursor: pointer;font-size:.9em}
#myAccordion dd{overflow: auto;margin: 0;display: block; height: 100px;font-size:.83em}
#myAccordion dd ul li,#acc dd{margin: 0 5px;}
#acc dd a{font-weight:bold;font-size:.83em}
.acc_head {cursor: pointer;position: relative;padding:.3em 0;}
.acc_body {display:none;}
.acc_body a{display:block;}


div#documents_joints {margin:5px 20px;}
div#documents_joints h3{font-weight:bold; font-size:1.1em}
div#documents_joints ul li {margin:5px 20px;}

ul.credits li{display:inline;text-align:center;width:24%;float:left}
ul.credits li span{font-size:.9em;font-weight:bold;line-height:.5em}

.gauche{float:left}
.droite{float:right}
.leon{clear:both; line-height:1px; margin:0;padding:0;height:1px}
.lien{text-align:center;font-weight:bold}
.pas_de{text-align:center;font-weight:bold;font-size:.8em}
div#footer,div#copy{clear:both;width:55.7em;margin:0 .65em .74em .65em;padding: 0;text-align:center;line-height:1em}
div#footer p,div#copy p{margin: .65em 0;font-size:.8em;}
div#copy p .dom{font-size:.8em;font-weight:normal}
/* SURCHARGES*/

/* surccharge plugin jeux*/
div.jeux_global{font-size:1em}
/* surccharge plugin meteo*/
dl.meteo dd{margin-left:0}
dl.meteo dt{font-weight:bold;margin-bottom:.5em}
/* surccharge jolie recherche*/
div#recherche-style{text-align:center}
/* surccharge forms et tables */
span.texte_1{padding:1em;border:1px solid #fc3}
/* surccharge puces spip */
div#content dl.bloc dl.spip_documents_center dt,div#content dl.bloc dl.spip_documents_center dt.spip_doc_titre strong{text-align:center; margin-bottom:0px;padding:0}
dt.spip_doc_titre strong{font-size:1.1em; margin-top:0;text-align:center;;padding:0}
ul.spip,li.spip{margin-left:1em;list-style: square inside; }


