Source: lcs-preinstall
Section: misc
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.6.2

Package: lcs-preinstall
Architecture: all
Depends: ${misc:Depends}, slis-common, sudo, make, pwgen, ntpdate, mysql-server, at, ldapedu-server, interfacedu-lcs, openssh-server, rsync
Description: LCS pre-install task
 This package prepare the installation of a LCS server
    - create lcs_db
    - puts params in lcs_db from lcs.conf
    - network configuration
    - setting time
    - setting ldap service by ldapedu-server
    - setting web service by interfacedu-lcs
    - setting ssh service with chroot user
