Source: lcs-roundcube
Section: misc
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: lcs-roundcube
Architecture: all
Depends: libapache2-mod-php5 | libapache-mod-php5 | php5, php5-gd, unzip, lcs-web, lcs-smtp, lcs-imap
Replaces: lcs-squirrelmail
Conflicts: lcs-squirrelmail
Description: Install Webmail Roundcube on LCS server 
 Install Roundcube webmail on LCS server.
