Source: lcs-cas
Section: misc
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: lcs-cas
Architecture: all
Depends: lcs-preinstall, lcs-web, lcs-certmanager, ruby, rubygems, libruby
Description: Setup CAS service on LCS server
  This package will configure the CAS service for use within the LCS server project.
