Source: lcs-dns
Section: misc
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: lcs-dns
Architecture: all
Depends: lcs-preinstall, bind9, dnsutils
Description: Install DNS capability on LCS server
    This package installs a DNS configuration suitable for the LCS project.