Source: lcs-monlcs
Section: misc
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: lcs-monlcs
Architecture: all
Depends: apache | httpd |apache2, mysql-server, php4-common | php5-common, php4-mysql | php5-mysql, php4-gd | php5-gd
Description: Mon LCS i.e "My LCS" a Teaching portal for LCS
 Mon LCS is a teaching portal allowing an individual appropriation of resources and resource sharing.