Source: lcs-web
Section: misc
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: lcs-web
Architecture: all
Depends: lcs-preinstall, libtext-unaccent-perl, python, webalizer, lynx
Description: Install WEB services on LCS server
 This package install WEB services on LCS server project.