Package: debian-lcs-keyring
Version: 1.0-1~3
Section: unknown
Priority: extra
Architecture: i386
Installed-Size: 64
Maintainer: simc <simon.cavey@crdp.ac-caen.fr>
Description: GPG Lcs debian keys
 GPG Lcs debian keys form CRDP repository
