Source: libpam-cas
Section: devel
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: libpam0g-dev, libssl-dev, debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: libpam-cas
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CAS Pluggable Authentication Module for PAM
 This package includes a special (but not thoroughly tested) PAM module to provide CAS authentification