Source: lcs-ggt
Section: misc
Priority: optional
Maintainer: Philippe Leclerc <philippe.leclerc1@ac-caen.fr>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4

Package: lcs-ggt
Architecture: all
Depends:  lcs-web , lcs-libjs
Description: Install gestion de groupes de travail on LCS server
 gestion de groupes de travail
