Source: debian-lcs-keyring
Section: unknown
Priority: extra
Maintainer: simc <simon.cavey@crdp.ac-caen.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3
Homepage: http://www.crdp.ac-caen.fr

Package: debian-lcs-keyring
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GPG Lcs debian keys
 GPG Lcs debian keys form CRDP repository
