Source: lcs-imap
Section: web
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.6.2

Package: lcs-imap
Architecture: all
Depends: slis-common, courier-imap, courier-ldap, mailx
Description: Setup IMAP service on LCS server
 This package will configure the courier IMAP server for use within the
 LCS server project.
