Source: lcs-cdt
Section: misc
Priority: optional
Maintainer: Philippe Leclerc <philippe.leclerc1@ac-caen.fr>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lcs-cdt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lcs-web
Description: Install Cahier de textes on LCS server
 Cahier de textes
