Source: lcs-cdt
Section: misc
Priority: optional
Maintainer: Philippe Leclerc <philippe.leclerc1@ac-caen.fr>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lcs-cdt
Architecture: all
Depends: lcs-web, lcs-libjs (>= 2.4.9.3~2)
Description: Install homework notebook on LCS server
 This package sets up homework notebook
