Source: lcs-gedowl
Section: misc
Priority: optional
Maintainer: Philippe Leclerc <philippe.leclerc1@ac-caen.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: lcs-gedowl
Architecture: all
Depends: lcs-web, xpdf-utils, imagemagick
Description: Install Gestion Electronique de Documents on LCS server
 Gestion Electronique de Documents
