Source: lcs-squidguard
Section: misc
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: lcs-squidguard
Architecture: all
Depends: lcs-preinstall, lcs-web, squid, squidguard, patch, lcs-squid
Description: Filtering rules for the Squidguard proxy
 Install SquidGuard a URL redirector used to use blacklists with the proxysoftware Squid
