Source: lcs-ent
Section: misc
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.6.2

Package: lcs-ent
Architecture: all
Depends: lcs-web, lcs-apache2ssl, lcs-cas, libpam-cas, lcs-roundcube
Description: Install ENT CAS SSO on LCS server
 This package install ENT CAS SSO on LCS server.
