.window.ui-draggable-dragging {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
}

.window_full.ui-draggable-dragging {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}

#bar_bottom {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
}
#bar_top ul{
	width:auto;
	position:absolute;
}
#bar_top ul.bar_top_right{
	float:right;
	width:auto;
	position:absolute;
	right:50px;
}
#bar_top ul.bar_top_right li{
	display:inline;
	width:auto;
}#bar_top ul.bar_top_right li a{
	display:inline;
}
#quicklaunch li{
	float:left;
}