Source: lcs-openssh
Section: net
Priority: extra
Maintainer: simc <simon.cavey@crdp.ac-caen.fr>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: lcs-openssh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: openssh-client, openssh-server
Description: OpenSSH with 2nd daemons chroot sftp
 OpenSSH with 2 daemons. Normal SSH on port 22.
 And chrooted sftp listening on port 2222.
 For chroot home directory must by owned by root.
