Source: lcs-pma
Section: misc
Priority: optionnal
Maintainer: Philippe Leclerc <philippe.leclerc1@ac-caen.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: lcs-pma
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, lcs-web
Description: Install PhpMyAdmin on LCS server
 This package allows to administer MySQL databases on LCS server
