Source: lcs-spip
Section: misc
Priority: optional
Maintainer: Jean-Luc Chretien <jean-luc.chretien@tice.ac-caen.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: lcs-spip
Architecture: all
Depends: apache2|apache, php5-common|php4-common, php5-cli|php4-cli, pwgen
Description: Install CMS SPIP on LCS server 
 This package sets up CMS spip with plugins, skel and many features on LCS server.